/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 98, ../sass/_base.scss */
.nav-more .nav-more__3, .nav-more .nav-more__10, .nav-more .nav-more__12, .nav-more .nav-more__14, .nav-more .nav-more__16, .nav-more .nav-more__17 {
  height: 40px;
  padding-top: 10px;
  line-height: 1.1;
}

/* line 2, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 3, ../sass/common.scss */
body {
  min-width: 320px;
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #666666;
}

/*resets*/
/* line 14, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 17, ../sass/common.scss */
a {
  color: #37559a;
  text-decoration: none;
}

/* line 21, ../sass/common.scss */
li {
  list-style: none;
}

/* line 24, ../sass/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 28, ../sass/common.scss */
button {
  line-height: 1;
  cursor: pointer;
}

/* line 32, ../sass/common.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 36, ../sass/common.scss */
.h1 {
  font-size: 30px;
}

/* line 39, ../sass/common.scss */
.h2 {
  font-size: 24px;
}

/* line 42, ../sass/common.scss */
.h3 {
  font-size: 20px;
  font-weight: normal;
}

/* line 46, ../sass/common.scss */
.h4 {
  font-size: 18px;
}

/* line 49, ../sass/common.scss */
.clr {
  clear: both;
}

/*wrap*/
/* line 53, ../sass/common.scss */
.wrap {
  width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  /* line 53, ../sass/common.scss */
  .wrap {
    width: 100%;
  }
}

/* line 60, ../sass/common.scss */
.container {
  position: relative;
}
@media only screen and (max-width: 1000px) {
  /* line 60, ../sass/common.scss */
  .container {
    margin: 0 10px;
  }
}

/*header*/
/* line 67, ../sass/common.scss */
.header-out {
  position: relative;
  width: 100%;
  background: #37559a;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3NTU5YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4M2Q3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283d70));
  background-image: -webkit-linear-gradient(#37559a, #283d70);
  background-image: -moz-linear-gradient(#37559a, #283d70);
  background-image: -o-linear-gradient(#37559a, #283d70);
  background-image: linear-gradient(#37559a, #283d70);
}

/* line 73, ../sass/common.scss */
.header {
  position: relative;
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 73, ../sass/common.scss */
  .header {
    width: 100%;
  }
}

/*logo*/
/* line 84, ../sass/common.scss */
.logo {
  float: left;
  margin-right: 53px;
  background: url('../img/icons-s7615b20741.png') 0 0 no-repeat;
  width: 172px;
  height: 50px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 88, ../sass/common.scss */
.logo a {
  display: block;
  width: 172px;
  height: 50px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
@media only screen and (max-width: 1000px) {
  /* line 84, ../sass/common.scss */
  .logo {
    margin: 0 12px 0 10px;
  }
}

/*navigation*/
/* line 102, ../sass/common.scss */
.nav {
  float: left;
  margin-top: 7px;
}
@media only screen and (max-width: 680px) {
  /* line 102, ../sass/common.scss */
  .nav {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    margin-top: 0px;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 100;
  }
}
/* line 115, ../sass/common.scss */
.nav li {
  float: left;
  height: 43px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 119, ../sass/common.scss */
.nav li.active {
  margin-right: -1px;
  background: #fff;
}
/* line 122, ../sass/common.scss */
.nav li.active a {
  padding: 0 19px 0 18px;
  color: #37559a;
}
/* line 128, ../sass/common.scss */
.nav li:first-child a {
  border: none;
}
@media only screen and (max-width: 680px) {
  /* line 115, ../sass/common.scss */
  .nav li {
    float: none;
    width: auto;
    height: auto;
    margin: 0 10px;
    border-top: 1px dotted #cfcfcf;
  }
  /* line 138, ../sass/common.scss */
  .nav li:first-child {
    border: none;
  }
}
/* line 143, ../sass/common.scss */
.nav a {
  display: block;
  height: 23px;
  margin-top: 6px;
  padding: 0 18px;
  line-height: 23px;
  border-left: 1px dotted #fff;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  /* line 143, ../sass/common.scss */
  .nav a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 143, ../sass/common.scss */
  .nav a {
    height: 27px;
    margin: 0;
    padding: 0;
    line-height: 27px;
    color: #37559a;
    font-weight: bold;
  }
}
/* line 165, ../sass/common.scss */
.nav .nav__search {
  display: none;
}
@media only screen and (max-width: 840px) {
  /* line 165, ../sass/common.scss */
  .nav .nav__search {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  /* line 165, ../sass/common.scss */
  .nav .nav__search {
    display: none;
  }
}
/* line 173, ../sass/common.scss */
.nav .nav__search a {
  position: relative;
  padding: 0 0 0 38px;
}
/* line 176, ../sass/common.scss */
.nav .nav__search a i {
  position: absolute;
  top: 4px;
  left: 15px;
  background: url('../img/icons-s7615b20741.png') 0 -1735px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 840px) {
  /* line 184, ../sass/common.scss */
  .nav.show {
    display: block;
  }
}

/*small navigation*/
/* line 191, ../sass/common.scss */
.nav-s {
  display: none;
  float: right;
  margin: 6px 10px 0 0;
}
@media only screen and (max-width: 680px) {
  /* line 191, ../sass/common.scss */
  .nav-s {
    display: block;
  }
}
/* line 198, ../sass/common.scss */
.nav-s li {
  position: relative;
  float: left;
  width: 56px;
  height: 44px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
/* line 205, ../sass/common.scss */
.nav-s li span {
  display: block;
  margin-top: 27px;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
/* line 212, ../sass/common.scss */
.nav-s li i {
  position: absolute;
  top: 5px;
  left: 18px;
}
/* line 217, ../sass/common.scss */
.nav-s li .nav-s__menu-ico {
  background: url('../img/icons-s7615b20741.png') 0 -2091px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 220, ../sass/common.scss */
.nav-s li .nav-s__search-ico {
  background: url('../img/icons-s7615b20741.png') 0 -1678px no-repeat;
  width: 20px;
  height: 20px;
}
/* line 223, ../sass/common.scss */
.nav-s li.active {
  background: #fff;
}
/* line 225, ../sass/common.scss */
.nav-s li.active span {
  color: #37559a;
}
/* line 228, ../sass/common.scss */
.nav-s li.active .nav-s__menu-ico {
  background: url('../img/icons-s7615b20741.png') 0 -2062px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 231, ../sass/common.scss */
.nav-s li.active .nav-s__search-ico {
  background: url('../img/icons-s7615b20741.png') 0 -1648px no-repeat;
  width: 20px;
  height: 20px;
}

/*nav-extra*/
/* line 238, ../sass/common.scss */
.nav-more {
  margin: 30px 0;
}
/* line 240, ../sass/common.scss */
.nav-more ul {
  overflow: hidden;
}
/* line 243, ../sass/common.scss */
.nav-more li {
  position: relative;
  float: left;
  width: 47%;
  height: 50px;
  padding-right: 3%;
  vertical-align: middle;
}
@media only screen and (max-width: 1000px) {
  /* line 243, ../sass/common.scss */
  .nav-more li {
    width: 33%;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 840px) {
  /* line 243, ../sass/common.scss */
  .nav-more li {
    width: 50%;
  }
}
/* line 258, ../sass/common.scss */
.nav-more a {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 65px;
  vertical-align: middle;
}
/* line 266, ../sass/common.scss */
.nav-more i {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 271, ../sass/common.scss */
.nav-more .nav-more__1 i {
  background: url('../img/icons-s7615b20741.png') 0 -120px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 272, ../sass/common.scss */
.nav-more .nav-more__2 i {
  background: url('../img/icons-s7615b20741.png') 0 -60px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 275, ../sass/common.scss */
.nav-more .nav-more__3 i {
  background: url('../img/icons-s7615b20741.png') 0 -840px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 277, ../sass/common.scss */
.nav-more .nav-more__4 i {
  background: url('../img/icons-s7615b20741.png') 0 -180px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 278, ../sass/common.scss */
.nav-more .nav-more__5 i {
  background: url('../img/icons-s7615b20741.png') 0 -1260px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 279, ../sass/common.scss */
.nav-more .nav-more__6 i {
  background: url('../img/icons-s7615b20741.png') 0 -300px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 280, ../sass/common.scss */
.nav-more .nav-more__7 i {
  background: url('../img/icons-s7615b20741.png') 0 -1200px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 281, ../sass/common.scss */
.nav-more .nav-more__8 i {
  background: url('../img/icons-s7615b20741.png') 0 -360px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 282, ../sass/common.scss */
.nav-more .nav-more__9 i {
  background: url('../img/icons-s7615b20741.png') 0 -600px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 285, ../sass/common.scss */
.nav-more .nav-more__10 i {
  background: url('../img/icons-s7615b20741.png') 0 -780px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 287, ../sass/common.scss */
.nav-more .nav-more__11 i {
  background: url('../img/icons-s7615b20741.png') 0 -240px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 290, ../sass/common.scss */
.nav-more .nav-more__12 i {
  background: url('../img/icons-s7615b20741.png') 0 -720px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 292, ../sass/common.scss */
.nav-more .nav-more__13 i {
  background: url('../img/icons-s7615b20741.png') 0 -660px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 295, ../sass/common.scss */
.nav-more .nav-more__14 i {
  background: url('../img/icons-s7615b20741.png') 0 -420px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 297, ../sass/common.scss */
.nav-more .nav-more__15 i {
  background: url('../img/icons-s7615b20741.png') 0 -1140px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 300, ../sass/common.scss */
.nav-more .nav-more__16 i {
  background: url('../img/icons-s7615b20741.png') 0 -480px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 304, ../sass/common.scss */
.nav-more .nav-more__17 i {
  background: url('../img/icons-s7615b20741.png') 0 -540px no-repeat;
  width: 50px;
  height: 50px;
}

/* line 307, ../sass/common.scss */
.aside-title {
  height: 24px;
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 16px;
  border-top: 1px dotted #cfcfcf;
  border-bottom: 1px dotted #cfcfcf;
}

/*search*/
/* line 316, ../sass/common.scss */
.search {
  float: right;
  margin-top: 13px;
  width: 222px;
}
@media only screen and (max-width: 1000px) {
  /* line 316, ../sass/common.scss */
  .search {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 840px) {
  /* line 316, ../sass/common.scss */
  .search {
    display: none;
    position: absolute;
    top: 7px;
    left: 200px;
    right: 10px;
    width: auto;
    height: 31px;
    margin: 0;
    padding: 12px 60px 0 15px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #fff;
  }
}
@media only screen and (max-width: 680px) {
  /* line 316, ../sass/common.scss */
  .search {
    display: none;
    top: 50px;
    left: 0;
    right: 0;
    height: 23px;
    padding: 13px 10px 15px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 100;
  }
}
/* line 346, ../sass/common.scss */
.search input, .search button {
  float: left;
  height: 23px;
}
/* line 350, ../sass/common.scss */
.search input {
  width: 176px;
  padding: 0 10px;
  background: #fff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
@media only screen and (max-width: 840px) {
  /* line 350, ../sass/common.scss */
  .search input {
    width: 88%;
    padding: 0 6% 0 3%;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
  }
}
@media only screen and (max-width: 680px) {
  /* line 350, ../sass/common.scss */
  .search input {
    width: 75%;
    padding: 0 6% 0 3%;
  }
}
/* line 366, ../sass/common.scss */
.search button {
  position: relative;
  width: 26px;
  background: #22b5f4;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 371, ../sass/common.scss */
.search button i {
  position: absolute;
  top: 4px;
  left: 6px;
  background: url('../img/icons-s7615b20741.png') 0 -1735px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 680px) {
  /* line 371, ../sass/common.scss */
  .search button i {
    display: none;
  }
}
/* line 380, ../sass/common.scss */
.search button span {
  display: none;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
@media only screen and (max-width: 680px) {
  /* line 380, ../sass/common.scss */
  .search button span {
    display: block;
  }
}
@media only screen and (max-width: 840px) {
  /* line 366, ../sass/common.scss */
  .search button {
    position: absolute;
    top: 12px;
    right: 60px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 366, ../sass/common.scss */
  .search button {
    top: 13px;
    right: 10px;
    width: 20%;
  }
}
/* line 400, ../sass/common.scss */
.search .search__close {
  display: none;
  position: absolute;
  top: 15px;
  right: 23px;
  background: url('../img/icons-s7615b20741.png') 0 -1708px no-repeat;
  width: 15px;
  height: 17px;
  cursor: pointer;
}
@media only screen and (max-width: 840px) {
  /* line 400, ../sass/common.scss */
  .search .search__close {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  /* line 400, ../sass/common.scss */
  .search .search__close {
    display: none;
  }
}
@media only screen and (max-width: 840px) {
  /* line 414, ../sass/common.scss */
  .search.show {
    display: block;
  }
}

/*footer*/
/* line 421, ../sass/common.scss */
.footer-out {
  position: relative;
  background: #37559a;
}
/* line 424, ../sass/common.scss */
.footer-out:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #37559a;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4M2Q3MCIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMzc1NTlhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283d70), color-stop(60%, #37559a));
  background-image: -webkit-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: -moz-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: -o-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: linear-gradient(#283d70 0%, #37559a 60%);
}

/* line 435, ../sass/common.scss */
.footer {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 435, ../sass/common.scss */
  .footer {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 435, ../sass/common.scss */
  .footer {
    width: 100%;
  }
}

/* line 448, ../sass/common.scss */
.footer__nav {
  padding: 27px 0;
  border-bottom: 1px dotted #fff;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 448, ../sass/common.scss */
  .footer__nav {
    padding: 27px 10px;
  }
}
/* line 456, ../sass/common.scss */
.footer__nav ul {
  float: left;
  width: 17%;
}
@media only screen and (max-width: 1000px) {
  /* line 456, ../sass/common.scss */
  .footer__nav ul {
    width: 25%;
  }
}
@media only screen and (max-width: 680px) {
  /* line 456, ../sass/common.scss */
  .footer__nav ul {
    width: 50%;
  }
}
/* line 465, ../sass/common.scss */
.footer__nav ul li {
  margin-bottom: 7px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
@media only screen and (max-width: 1000px) {
  /* line 465, ../sass/common.scss */
  .footer__nav ul li {
    white-space: normal;
  }
}
/* line 475, ../sass/common.scss */
.footer__nav ul a {
  position: relative;
  padding-left: 10px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
/* line 482, ../sass/common.scss */
.footer__nav ul i {
  position: absolute;
  top: 3px;
  left: 0;
  background: url('../img/icons-s7615b20741.png') 0 -1962px no-repeat;
  width: 5px;
  height: 9px;
}
/* line 490, ../sass/common.scss */
.footer__nav .footer__social a {
  display: block;
  height: 32px;
  line-height: 32px;
  padding-left: 45px;
}
/* line 496, ../sass/common.scss */
.footer__nav .footer__social i {
  top: 0;
  left: 0;
}
/* line 502, ../sass/common.scss */
.footer__nav .footer__social-fb i {
  background: url('../img/icons-s7615b20741.png') 0 -1555px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 507, ../sass/common.scss */
.footer__nav .footer__social-tw i {
  background: url('../img/icons-s7615b20741.png') 0 -1462px no-repeat;
  width: 32px;
  height: 32px;
}

/* line 512, ../sass/common.scss */
.footer__nav_change {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  /* line 512, ../sass/common.scss */
  .footer__nav_change {
    position: relative;
    width: 50%;
    padding-right: 50%;
  }
}
@media only screen and (max-width: 680px) {
  /* line 512, ../sass/common.scss */
  .footer__nav_change {
    width: 100%;
    padding-right: 0;
    padding-bottom: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 524, ../sass/common.scss */
  .footer__nav_change ul {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  /* line 530, ../sass/common.scss */
  .footer__nav-mb {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 680px) {
  /* line 535, ../sass/common.scss */
  .footer__nav-mb1 {
    margin-bottom: 25px;
  }
}

/* line 540, ../sass/common.scss */
.footer__copyright {
  padding: 17px 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
/* line 545, ../sass/common.scss */
.footer__copyright span {
  position: relative;
  padding-left: 75px;
}
/* line 549, ../sass/common.scss */
.footer__copyright i {
  position: absolute;
  top: 0px;
  left: 0;
  background: url('../img/icons-s7615b20741.png') 0 -1440px no-repeat;
  width: 72px;
  height: 12px;
}

/* line 556, ../sass/common.scss */
.footer__facebook {
  position: absolute;
  top: 30px;
  right: 0;
  border-left: 20px solid #37559a;
}
@media only screen and (max-width: 1000px) {
  /* line 556, ../sass/common.scss */
  .footer__facebook {
    right: 85px;
    border: none;
  }
}
@media only screen and (max-width: 680px) {
  /* line 556, ../sass/common.scss */
  .footer__facebook {
    top: auto;
    left: 50%;
    margin-left: -120px;
    right: auto;
    bottom: 30px;
  }
}

/* line 573, ../sass/common.scss */
.likes {
  position: relative;
}
/* line 575, ../sass/common.scss */
.likes .likes__out {
  display: block;
  position: absolute;
  top: 0;
  left: -100px;
  width: 75px;
  height: 300px;
}
/* line 582, ../sass/common.scss */
.likes .likes__out .likes__twitter, .likes .likes__out .likes__google, .likes .likes__out .likes__mail, .likes .likes__out .fb-like {
  margin-bottom: 15px;
  text-align: center;
}
/* line 587, ../sass/common.scss */
.likes .likes__out .likes__mail a {
  display: block;
  width: 75px;
  height: 20px;
  background: url('../img/icons-s7615b20741.png') 0 -1881px no-repeat;
  width: 75px;
  height: 20px;
}
/* line 592, ../sass/common.scss */
.likes .likes__out .likes__mail a:hover {
  background: url('../img/icons-s7615b20741.png') 0 -1911px no-repeat;
  width: 75px;
  height: 20px;
}
@media only screen and (max-width: 1200px) {
  /* line 575, ../sass/common.scss */
  .likes .likes__out {
    display: none;
  }
}
/* line 601, ../sass/common.scss */
.likes .likes__ins {
  display: none;
  margin: 15px 0 12px 0;
  overflow: hidden;
}
/* line 605, ../sass/common.scss */
.likes .likes__ins .likes__twitter, .likes .likes__ins .likes__google, .likes .likes__ins .likes__mail, .likes .likes__ins .fb-like {
  float: left;
  height: 23px;
}
/* line 609, ../sass/common.scss */
.likes .likes__ins .fb-like {
  width: 210px;
}
/* line 613, ../sass/common.scss */
.likes .likes__ins .likes__mail a {
  display: block;
  width: 75px;
  height: 20px;
  background: url('../img/icons-s7615b20741.png') 0 -1881px no-repeat;
  width: 75px;
  height: 20px;
}
/* line 618, ../sass/common.scss */
.likes .likes__ins .likes__mail a:hover {
  background: url('../img/icons-s7615b20741.png') 0 -1911px no-repeat;
  width: 75px;
  height: 20px;
}
@media only screen and (max-width: 1200px) {
  /* line 601, ../sass/common.scss */
  .likes .likes__ins {
    display: block;
  }
}

/*breadcrumps*/
/* line 629, ../sass/common.scss */
.breadcrumps {
  margin: 8px 0 24px 0;
  overflow: hidden;
}
/* line 632, ../sass/common.scss */
.breadcrumps li {
  position: relative;
  float: left;
  height: 18px;
  line-height: 18px;
  margin-right: 25px;
  font-size: 12px;
  color: #37559A;
}
/* line 640, ../sass/common.scss */
.breadcrumps li a {
  border-bottom: 1px dotted #37559A;
}
/* line 643, ../sass/common.scss */
.breadcrumps li i {
  position: absolute;
  top: 4px;
  right: -17px;
  background: url('../img/icons-s7615b20741.png') 0 -1860px no-repeat;
  width: 6px;
  height: 11px;
}

/*view-all*/
/* line 652, ../sass/common.scss */
.view-all {
  position: relative;
  height: 30px;
  margin-bottom: 25px;
  text-align: center;
  overflow: hidden;
}
/* line 658, ../sass/common.scss */
.view-all i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-box-shadow: #ececec 0px 1px 1px;
  -moz-box-shadow: #ececec 0px 1px 1px;
  box-shadow: #ececec 0px 1px 1px;
  background: #bfbfbf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiLz48c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2JmYmZiZiIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjYmZiZmJmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjZmNmY2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(10%, #f6f6f6), color-stop(30%, #bfbfbf), color-stop(70%, #bfbfbf), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  background-image: -moz-linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  background-image: -o-linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  background-image: linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  z-index: 5;
}
/* line 669, ../sass/common.scss */
.view-all a {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  margin-top: -5px;
  line-height: 30px;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: #bfbfbf 0px 1px 3px;
  -moz-box-shadow: #bfbfbf 0px 1px 3px;
  box-shadow: #bfbfbf 0px 1px 3px;
  z-index: 10;
}

/*banner*/
/* line 684, ../sass/common.scss */
.banner {
  position: absolute;
  top: 0;
  right: -100px;
  width: 80px;
  height: 600px;
  background: #f07fbc;
}
@media only screen and (max-width: 1200px) {
  /* line 684, ../sass/common.scss */
  .banner {
    display: none;
  }
}

/*advert*/
/* line 696, ../sass/common.scss */
.advert {
  position: relative;
  width: 300px;
  height: 250px;
}
/* line 700, ../sass/common.scss */
.advert span {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 10px;
  color: #9e9e9e;
}

/* line 708, ../sass/common.scss */
.advert_main {
  position: absolute;
  top: 15px;
  right: 0;
}
@media only screen and (max-width: 680px) {
  /* line 708, ../sass/common.scss */
  .advert_main {
    top: auto;
    bottom: 0;
    right: 50%;
    margin-right: -150px;
  }
}
