/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 2, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 3, ../sass/common.scss */
body {
  min-width: 320px;
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #666666;
}

/*resets*/
/* line 14, ../sass/common.scss */
p {
  line-height: 1.5;
}

/* line 17, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 20, ../sass/common.scss */
a {
  color: #37559a;
  text-decoration: none;
}

/* line 24, ../sass/common.scss */
li {
  list-style: none;
}

/* line 27, ../sass/common.scss */
input, textarea, button {
  border: none;
  outline: none;
  font-family: Arial,sans-serif;
}

/* line 32, ../sass/common.scss */
button {
  line-height: 1;
  cursor: pointer;
}

/* line 36, ../sass/common.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 40, ../sass/common.scss */
.h1 {
  margin-bottom: 15px;
  font-size: 30px;
}

/* line 44, ../sass/common.scss */
.h1_do {
  position: relative;
}
@media only screen and (max-width: 1000px) {
  /* line 44, ../sass/common.scss */
  .h1_do {
    padding-bottom: 30px;
  }
}

/* line 50, ../sass/common.scss */
.h2 {
  font-size: 24px;
}

/* line 53, ../sass/common.scss */
.h3 {
  font-size: 20px;
  font-weight: normal;
}

/* line 57, ../sass/common.scss */
.h4 {
  font-size: 18px;
  font-weight: normal;
}

/* line 61, ../sass/common.scss */
.h5 {
  font-size: 16px;
}

/* line 64, ../sass/common.scss */
.clr {
  clear: both;
}

/*wrap*/
/* line 68, ../sass/common.scss */
.wrap {
  width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  /* line 68, ../sass/common.scss */
  .wrap {
    width: 100%;
  }
}

/* line 75, ../sass/common.scss */
.container {
  position: relative;
}
@media only screen and (max-width: 1000px) {
  /* line 75, ../sass/common.scss */
  .container {
    margin: 0 10px;
  }
}

/*header*/
/* line 82, ../sass/common.scss */
.header-out {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  background: #37559a;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3NTU5YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4M2Q3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283d70));
  background-image: -webkit-linear-gradient(#37559a, #283d70);
  background-image: -moz-linear-gradient(#37559a, #283d70);
  background-image: -o-linear-gradient(#37559a, #283d70);
  background-image: linear-gradient(#37559a, #283d70);
}

/* line 89, ../sass/common.scss */
.header {
  position: relative;
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 89, ../sass/common.scss */
  .header {
    width: 100%;
  }
}

/*logo*/
/* line 100, ../sass/common.scss */
.logo {
  float: left;
  margin-right: 53px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -100px no-repeat;
  width: 172px;
  height: 50px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 104, ../sass/common.scss */
.logo a {
  display: block;
  width: 172px;
  height: 50px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
@media only screen and (max-width: 1000px) {
  /* line 100, ../sass/common.scss */
  .logo {
    margin: 0 12px 0 10px;
  }
}

/*navigation*/
/* line 118, ../sass/common.scss */
.nav {
  float: left;
  margin-top: 7px;
}
@media only screen and (max-width: 680px) {
  /* line 118, ../sass/common.scss */
  .nav {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    margin-top: 0px;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 100;
  }
}
/* line 131, ../sass/common.scss */
.nav li {
  float: left;
  height: 43px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 135, ../sass/common.scss */
.nav li.active {
  margin-right: -1px;
  background: #fff;
}
/* line 138, ../sass/common.scss */
.nav li.active a {
  padding: 0 19px 0 18px;
  color: #37559a;
}
/* line 144, ../sass/common.scss */
.nav li:first-child a {
  border: none;
}
@media only screen and (max-width: 680px) {
  /* line 131, ../sass/common.scss */
  .nav li {
    float: none;
    width: auto;
    height: auto;
    margin: 0 10px;
    border-top: 1px dotted #cfcfcf;
  }
  /* line 154, ../sass/common.scss */
  .nav li:first-child {
    border: none;
  }
}
/* line 159, ../sass/common.scss */
.nav a {
  display: block;
  height: 23px;
  margin-top: 6px;
  padding: 0 18px;
  line-height: 23px;
  border-left: 1px dotted #fff;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  /* line 159, ../sass/common.scss */
  .nav a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 159, ../sass/common.scss */
  .nav a {
    height: 27px;
    margin: 0;
    padding: 0;
    line-height: 27px;
    color: #37559a;
    font-weight: bold;
  }
}
/* line 181, ../sass/common.scss */
.nav .nav__search {
  display: none;
}
@media only screen and (max-width: 840px) {
  /* line 181, ../sass/common.scss */
  .nav .nav__search {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  /* line 181, ../sass/common.scss */
  .nav .nav__search {
    display: none;
  }
}
/* line 189, ../sass/common.scss */
.nav .nav__search a {
  position: relative;
  padding: 0 0 0 38px;
}
/* line 192, ../sass/common.scss */
.nav .nav__search a i {
  position: absolute;
  top: 4px;
  left: 15px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2411px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 840px) {
  /* line 200, ../sass/common.scss */
  .nav.show {
    display: block;
  }
}

/*small navigation*/
/* line 207, ../sass/common.scss */
.nav-s {
  display: none;
  float: right;
  margin: 6px 10px 0 0;
}
@media only screen and (max-width: 680px) {
  /* line 207, ../sass/common.scss */
  .nav-s {
    display: block;
  }
}
/* line 214, ../sass/common.scss */
.nav-s li {
  position: relative;
  float: left;
  width: 56px;
  height: 44px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
/* line 221, ../sass/common.scss */
.nav-s li span {
  display: block;
  margin-top: 27px;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
/* line 228, ../sass/common.scss */
.nav-s li i {
  position: absolute;
  top: 5px;
  left: 18px;
}
/* line 233, ../sass/common.scss */
.nav-s li .nav-s__menu-ico {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -3049px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 236, ../sass/common.scss */
.nav-s li .nav-s__search-ico {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2292px no-repeat;
  width: 20px;
  height: 20px;
}
/* line 239, ../sass/common.scss */
.nav-s li.active {
  background: #fff;
}
/* line 241, ../sass/common.scss */
.nav-s li.active span {
  color: #37559a;
}
/* line 244, ../sass/common.scss */
.nav-s li.active .nav-s__menu-ico {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -3020px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 247, ../sass/common.scss */
.nav-s li.active .nav-s__search-ico {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2200px no-repeat;
  width: 20px;
  height: 20px;
}

/*nav-extra*/
/* line 254, ../sass/common.scss */
.nav-more {
  margin-bottom: 30px;
}
/* line 256, ../sass/common.scss */
.nav-more ul {
  overflow: hidden;
}
/* line 259, ../sass/common.scss */
.nav-more li {
  position: relative;
  float: left;
  width: 47%;
  height: 50px;
  line-height: 50px;
  padding-right: 3%;
  vertical-align: middle;
}
@media only screen and (max-width: 840px) {
  /* line 259, ../sass/common.scss */
  .nav-more li {
    width: 50%;
    padding-right: 0px;
  }
}
/* line 272, ../sass/common.scss */
.nav-more a {
  display: inline-block;
  line-height: 1;
  padding-left: 65px;
  vertical-align: middle;
}
/* line 278, ../sass/common.scss */
.nav-more i {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 283, ../sass/common.scss */
.nav-more .nav-more__1 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -220px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 284, ../sass/common.scss */
.nav-more .nav-more__2 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -160px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 285, ../sass/common.scss */
.nav-more .nav-more__3 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1231px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 286, ../sass/common.scss */
.nav-more .nav-more__4 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -571px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 287, ../sass/common.scss */
.nav-more .nav-more__5 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1651px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 288, ../sass/common.scss */
.nav-more .nav-more__6 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -691px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 289, ../sass/common.scss */
.nav-more .nav-more__7 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1591px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 290, ../sass/common.scss */
.nav-more .nav-more__8 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -751px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 291, ../sass/common.scss */
.nav-more .nav-more__9 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -991px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 292, ../sass/common.scss */
.nav-more .nav-more__10 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1171px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 293, ../sass/common.scss */
.nav-more .nav-more__11 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -631px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 294, ../sass/common.scss */
.nav-more .nav-more__12 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1111px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 295, ../sass/common.scss */
.nav-more .nav-more__13 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1051px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 296, ../sass/common.scss */
.nav-more .nav-more__14 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -811px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 297, ../sass/common.scss */
.nav-more .nav-more__15 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1531px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 298, ../sass/common.scss */
.nav-more .nav-more__16 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -871px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 299, ../sass/common.scss */
.nav-more .nav-more__17 i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -931px no-repeat;
  width: 50px;
  height: 50px;
}
/* line 301, ../sass/common.scss */
.nav-more .active i {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
}

/* line 309, ../sass/common.scss */
.nav-more__no-full ul {
  margin-bottom: 15px;
}
/* line 313, ../sass/common.scss */
.nav-more__no-full li a {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
}

/* line 320, ../sass/common.scss */
.aside-title {
  height: 24px;
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 16px;
  border-top: 1px dotted #cfcfcf;
  border-bottom: 1px dotted #cfcfcf;
}

/*search*/
/* line 329, ../sass/common.scss */
.search {
  float: right;
  margin-top: 13px;
  width: 222px;
}
@media only screen and (max-width: 1000px) {
  /* line 329, ../sass/common.scss */
  .search {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 840px) {
  /* line 329, ../sass/common.scss */
  .search {
    display: none;
    position: absolute;
    top: 7px;
    left: 200px;
    right: 10px;
    width: auto;
    height: 31px;
    margin: 0;
    padding: 12px 60px 0 15px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #fff;
  }
}
@media only screen and (max-width: 680px) {
  /* line 329, ../sass/common.scss */
  .search {
    display: none;
    top: 50px;
    left: 0;
    right: 0;
    height: 23px;
    padding: 13px 10px 15px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 100;
  }
}
/* line 359, ../sass/common.scss */
.search input, .search button {
  float: left;
  height: 23px;
}
/* line 363, ../sass/common.scss */
.search input {
  width: 176px;
  padding: 0 10px;
  background: #fff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
@media only screen and (max-width: 840px) {
  /* line 363, ../sass/common.scss */
  .search input {
    width: 88%;
    padding: 0 6% 0 3%;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
  }
}
@media only screen and (max-width: 680px) {
  /* line 363, ../sass/common.scss */
  .search input {
    width: 75%;
    padding: 0 6% 0 3%;
  }
}
/* line 379, ../sass/common.scss */
.search button {
  position: relative;
  width: 26px;
  background: #22b5f4;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 384, ../sass/common.scss */
.search button i {
  position: absolute;
  top: 4px;
  left: 6px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2411px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 680px) {
  /* line 384, ../sass/common.scss */
  .search button i {
    display: none;
  }
}
/* line 393, ../sass/common.scss */
.search button span {
  display: none;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
@media only screen and (max-width: 680px) {
  /* line 393, ../sass/common.scss */
  .search button span {
    display: block;
  }
}
@media only screen and (max-width: 840px) {
  /* line 379, ../sass/common.scss */
  .search button {
    position: absolute;
    top: 12px;
    right: 60px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 379, ../sass/common.scss */
  .search button {
    top: 13px;
    right: 10px;
    width: 20%;
  }
}
/* line 413, ../sass/common.scss */
.search .search__close {
  display: none;
  position: absolute;
  top: 15px;
  right: 23px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2384px no-repeat;
  width: 15px;
  height: 17px;
  cursor: pointer;
}
@media only screen and (max-width: 840px) {
  /* line 413, ../sass/common.scss */
  .search .search__close {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  /* line 413, ../sass/common.scss */
  .search .search__close {
    display: none;
  }
}
@media only screen and (max-width: 840px) {
  /* line 427, ../sass/common.scss */
  .search.show {
    display: block;
  }
}

/*footer*/
/* line 434, ../sass/common.scss */
.footer-out {
  position: relative;
  background: #37559a;
}
/* line 437, ../sass/common.scss */
.footer-out:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #37559a;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4M2Q3MCIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMzc1NTlhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283d70), color-stop(60%, #37559a));
  background-image: -webkit-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: -moz-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: -o-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: linear-gradient(#283d70 0%, #37559a 60%);
}

/* line 448, ../sass/common.scss */
.footer {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 448, ../sass/common.scss */
  .footer {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 448, ../sass/common.scss */
  .footer {
    width: 100%;
  }
}

/* line 461, ../sass/common.scss */
.footer__nav {
  padding: 27px 0;
  border-bottom: 1px dotted #fff;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 461, ../sass/common.scss */
  .footer__nav {
    padding: 27px 10px;
  }
}
/* line 469, ../sass/common.scss */
.footer__nav ul {
  float: left;
  width: 17%;
}
@media only screen and (max-width: 1000px) {
  /* line 469, ../sass/common.scss */
  .footer__nav ul {
    width: 25%;
  }
}
@media only screen and (max-width: 680px) {
  /* line 469, ../sass/common.scss */
  .footer__nav ul {
    width: 50%;
  }
}
/* line 478, ../sass/common.scss */
.footer__nav ul li {
  margin-bottom: 7px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
@media only screen and (max-width: 1000px) {
  /* line 478, ../sass/common.scss */
  .footer__nav ul li {
    white-space: normal;
  }
}
/* line 488, ../sass/common.scss */
.footer__nav ul a {
  position: relative;
  padding-left: 10px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
/* line 495, ../sass/common.scss */
.footer__nav ul i {
  position: absolute;
  top: 3px;
  left: 0;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2920px no-repeat;
  width: 5px;
  height: 9px;
}
/* line 503, ../sass/common.scss */
.footer__nav .footer__social a {
  display: block;
  height: 32px;
  line-height: 32px;
  padding-left: 45px;
}
/* line 509, ../sass/common.scss */
.footer__nav .footer__social i {
  top: 0;
  left: 0;
}
/* line 515, ../sass/common.scss */
.footer__nav .footer__social-fb i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2045px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 520, ../sass/common.scss */
.footer__nav .footer__social-tw i {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1952px no-repeat;
  width: 32px;
  height: 32px;
}

/* line 525, ../sass/common.scss */
.footer__nav_change {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  /* line 525, ../sass/common.scss */
  .footer__nav_change {
    position: relative;
    width: 50%;
    padding-right: 50%;
  }
}
@media only screen and (max-width: 680px) {
  /* line 525, ../sass/common.scss */
  .footer__nav_change {
    width: 100%;
    padding-right: 0;
    padding-bottom: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 537, ../sass/common.scss */
  .footer__nav_change ul {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  /* line 543, ../sass/common.scss */
  .footer__nav-mb {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 680px) {
  /* line 548, ../sass/common.scss */
  .footer__nav-mb1 {
    margin-bottom: 25px;
  }
}

/* line 553, ../sass/common.scss */
.footer__copyright {
  padding: 17px 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
/* line 558, ../sass/common.scss */
.footer__copyright span {
  position: relative;
  padding-left: 75px;
}
/* line 562, ../sass/common.scss */
.footer__copyright i {
  position: absolute;
  top: 0px;
  left: 0;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1930px no-repeat;
  width: 72px;
  height: 12px;
}

/* line 569, ../sass/common.scss */
.footer__facebook {
  position: absolute;
  top: 30px;
  right: 0;
  border-left: 20px solid #37559a;
}
@media only screen and (max-width: 1000px) {
  /* line 569, ../sass/common.scss */
  .footer__facebook {
    right: 85px;
    border: none;
  }
}
@media only screen and (max-width: 680px) {
  /* line 569, ../sass/common.scss */
  .footer__facebook {
    top: auto;
    left: 50%;
    margin-left: -120px;
    right: auto;
    bottom: 30px;
  }
}

/* line 586, ../sass/common.scss */
.likes {
  position: relative;
}
/* line 588, ../sass/common.scss */
.likes .likes__out {
  display: block;
  position: absolute;
  top: 0;
  left: -100px;
  width: 75px;
  height: 300px;
}
/* line 595, ../sass/common.scss */
.likes .likes__out .likes__twitter, .likes .likes__out .likes__google, .likes .likes__out .likes__mail, .likes .likes__out .fb-like {
  margin-bottom: 15px;
  text-align: center;
}
/* line 600, ../sass/common.scss */
.likes .likes__out .likes__mail a {
  display: block;
  width: 75px;
  height: 20px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2734px no-repeat;
  width: 75px;
  height: 20px;
}
/* line 605, ../sass/common.scss */
.likes .likes__out .likes__mail a:hover {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2785px no-repeat;
  width: 75px;
  height: 20px;
}
@media only screen and (max-width: 1200px) {
  /* line 588, ../sass/common.scss */
  .likes .likes__out {
    display: none;
  }
}
/* line 614, ../sass/common.scss */
.likes .likes__ins {
  display: none;
  margin: 15px 0 12px 0;
  overflow: hidden;
}
/* line 618, ../sass/common.scss */
.likes .likes__ins .likes__twitter, .likes .likes__ins .likes__google, .likes .likes__ins .likes__mail, .likes .likes__ins .fb-like {
  float: left;
  height: 23px;
}
/* line 622, ../sass/common.scss */
.likes .likes__ins .fb-like {
  width: 210px;
}
/* line 626, ../sass/common.scss */
.likes .likes__ins .likes__mail a {
  display: block;
  width: 75px;
  height: 20px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2734px no-repeat;
  width: 75px;
  height: 20px;
}
/* line 631, ../sass/common.scss */
.likes .likes__ins .likes__mail a:hover {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2785px no-repeat;
  width: 75px;
  height: 20px;
}
@media only screen and (max-width: 1200px) {
  /* line 614, ../sass/common.scss */
  .likes .likes__ins {
    display: block;
  }
}

/*breadcrumps*/
/* line 642, ../sass/common.scss */
.breadcrumps {
  margin: 0 0 24px 0;
  overflow: hidden;
}
/* line 645, ../sass/common.scss */
.breadcrumps li {
  position: relative;
  float: left;
  height: 18px;
  line-height: 18px;
  margin-right: 25px;
  font-size: 12px;
  color: #37559A;
}
/* line 653, ../sass/common.scss */
.breadcrumps li a {
  border-bottom: 1px dotted #37559A;
}
/* line 656, ../sass/common.scss */
.breadcrumps li i {
  position: absolute;
  top: 4px;
  right: -17px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2713px no-repeat;
  width: 6px;
  height: 11px;
}

/*view-all*/
/* line 665, ../sass/common.scss */
.view-all {
  position: relative;
  height: 30px;
  margin-bottom: 25px;
  text-align: center;
  overflow: hidden;
}
/* line 671, ../sass/common.scss */
.view-all i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-box-shadow: #ececec 0px 1px 1px;
  -moz-box-shadow: #ececec 0px 1px 1px;
  box-shadow: #ececec 0px 1px 1px;
  background: #bfbfbf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiLz48c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2JmYmZiZiIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjYmZiZmJmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjZmNmY2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(10%, #f6f6f6), color-stop(30%, #bfbfbf), color-stop(70%, #bfbfbf), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  background-image: -moz-linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  background-image: -o-linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  background-image: linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%);
  z-index: 5;
}
/* line 682, ../sass/common.scss */
.view-all a {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  margin-top: -5px;
  line-height: 30px;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: #bfbfbf 0px 1px 3px;
  -moz-box-shadow: #bfbfbf 0px 1px 3px;
  box-shadow: #bfbfbf 0px 1px 3px;
  z-index: 10;
}

/*banner*/
/* line 697, ../sass/common.scss */
.banner {
  position: absolute;
  top: 0;
  right: -100px;
  width: 80px;
  height: 600px;
  background: #f07fbc;
}
@media only screen and (max-width: 1200px) {
  /* line 697, ../sass/common.scss */
  .banner {
    display: none;
  }
}

/*advert*/
/* line 709, ../sass/common.scss */
.advert {
  position: relative;
  width: 300px;
  height: 250px;
  margin-bottom: 30px;
}
/* line 714, ../sass/common.scss */
.advert span {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 10px;
  color: #9e9e9e;
}

/* line 722, ../sass/common.scss */
.advert_main {
  position: absolute;
  top: 15px;
  right: 0;
}
@media only screen and (max-width: 680px) {
  /* line 722, ../sass/common.scss */
  .advert_main {
    top: auto;
    bottom: 0;
    right: 50%;
    margin-right: -150px;
  }
}

/* line 733, ../sass/common.scss */
.advert_left {
  margin: 30px 0 30px 20px;
  background: #f07fbc;
}
@media only screen and (max-width: 1000px) {
  /* line 733, ../sass/common.scss */
  .advert_left {
    margin: 30px 0;
  }
}

/*form-txt*/
/* line 741, ../sass/common.scss */
.form-txt {
  margin-bottom: 15px;
}
/* line 743, ../sass/common.scss */
.form-txt label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}
/* line 748, ../sass/common.scss */
.form-txt input, .form-txt textarea {
  width: 96%;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px inset;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 754, ../sass/common.scss */
.form-txt input {
  height: 30px;
  padding: 0 2%;
}
/* line 758, ../sass/common.scss */
.form-txt textarea {
  height: 150px;
  padding: 2%;
}

/* line 763, ../sass/common.scss */
.form-btn {
  padding-bottom: 2px;
  overflow: hidden;
}
/* line 766, ../sass/common.scss */
.form-btn button {
  position: relative;
  float: right;
  height: 26px;
  padding: 0 40px 0 45px;
  background: #37559a;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3NTU5YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4M2Q3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283d70));
  background-image: -webkit-linear-gradient(#37559a, #283d70);
  background-image: -moz-linear-gradient(#37559a, #283d70);
  background-image: -o-linear-gradient(#37559a, #283d70);
  background-image: linear-gradient(#37559a, #283d70);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/* line 779, ../sass/common.scss */
.form-btn i {
  position: absolute;
  top: 7px;
  left: 21px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -3078px no-repeat;
  width: 6px;
  height: 13px;
}

/*video-popup*/
/* line 787, ../sass/common.scss */
.bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* line 799, ../sass/common.scss */
.popup {
  display: none;
  position: fixed;
  top: 280px;
  left: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  background: #fff;
  z-index: 150;
}
/* line 807, ../sass/common.scss */
.popup iframe {
  width: 590px;
  height: 345px;
}
/* line 811, ../sass/common.scss */
.popup .h3 {
  color: #37559a;
}

/* line 815, ../sass/common.scss */
.popup__close {
  position: absolute;
  top: -17px;
  right: 0;
  width: 28px;
  height: 18px;
  background: #fff;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
/* line 824, ../sass/common.scss */
.popup__close i {
  position: absolute;
  top: 8px;
  left: 9px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2815px no-repeat;
  width: 10px;
  height: 10px;
}

/*popup_video*/
/* line 832, ../sass/common.scss */
.popup_video {
  width: 590px;
  height: 345px;
  margin: 0 0 0 -295px;
  padding: 5px;
}

/*popup_enter*/
/* line 839, ../sass/common.scss */
.popup_enter {
  width: 300px;
  padding: 17px 20px;
  margin-left: -150px;
}
/* line 843, ../sass/common.scss */
.popup_enter .h3 {
  margin-bottom: 10px;
}
/* line 846, ../sass/common.scss */
.popup_enter p {
  margin-bottom: 15px;
}
/* line 849, ../sass/common.scss */
.popup_enter input {
  width: 284px;
  height: 28px;
  margin-bottom: 17px;
  padding: 0 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #cfcfcf 0px 0px 5px inset;
  -moz-box-shadow: #cfcfcf 0px 0px 5px inset;
  box-shadow: #cfcfcf 0px 0px 5px inset;
  border: 1px solid #cfcfcf;
}
/* line 859, ../sass/common.scss */
.popup_enter .form-btn button {
  padding: 0 19px 0 32px;
}
/* line 861, ../sass/common.scss */
.popup_enter .form-btn button i {
  left: 15px;
}

/*popup_partners*/
/* line 868, ../sass/common.scss */
.popup_partners {
  width: 490px;
  padding: 20px;
  margin-left: -245px;
}
/* line 872, ../sass/common.scss */
.popup_partners img {
  float: left;
  margin: 0 20px 20px 0;
}
/* line 876, ../sass/common.scss */
.popup_partners p {
  margin-bottom: 20px;
  overflow: hidden;
}

/*popup_app*/
/* line 882, ../sass/common.scss */
.popup_app {
  width: 470px;
  margin-left: -235px;
  padding: 17px 20px;
}
/* line 886, ../sass/common.scss */
.popup_app .h3 {
  margin-bottom: 30px;
}

/* line 890, ../sass/common.scss */
.app-list {
  overflow: hidden;
}
/* line 892, ../sass/common.scss */
.app-list li {
  float: left;
  width: 155px;
  margin-top: 15px;
}
/* line 896, ../sass/common.scss */
.app-list li a {
  position: relative;
  display: block;
  padding-top: 95px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
}
/* line 904, ../sass/common.scss */
.app-list li i {
  position: absolute;
  top: 0;
}

/* line 911, ../sass/common.scss */
.app-list__email i {
  left: 35px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -280px no-repeat;
  width: 86px;
  height: 87px;
}

/* line 917, ../sass/common.scss */
.app-list__post i {
  left: 30px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -377px no-repeat;
  width: 95px;
  height: 87px;
}

/* line 923, ../sass/common.scss */
.app-list__online i {
  left: 36px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -474px no-repeat;
  width: 83px;
  height: 87px;
}

/* line 928, ../sass/common.scss */
.popup__attention {
  position: relative;
  height: 64px;
  margin: 0 -20px -17px -20px;
  line-height: 64px;
  padding-left: 67px;
  background: #f1f1f1;
  font-size: 12px;
}
/* line 936, ../sass/common.scss */
.popup__attention i {
  position: absolute;
  top: 13px;
  left: 21px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -1831px no-repeat;
  width: 37px;
  height: 36px;
}

/* line 943, ../sass/common.scss */
.app-info {
  margin-bottom: 35px;
}
/* line 945, ../sass/common.scss */
.app-info b {
  display: block;
  margin-bottom: 20px;
}
/* line 949, ../sass/common.scss */
.app-info ul {
  margin-bottom: 25px;
}
/* line 952, ../sass/common.scss */
.app-info li {
  line-height: 1.5;
}

/*static*/
/* line 957, ../sass/common.scss */
.static {
  padding-bottom: 50px;
  overflow: hidden;
}
/* line 960, ../sass/common.scss */
.static img, .static p {
  margin-bottom: 20px;
}
/* line 963, ../sass/common.scss */
.static h1 {
  margin-bottom: 15px;
  font-size: 30px;
}
/* line 967, ../sass/common.scss */
.static h4 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #37559a;
}
/* line 973, ../sass/common.scss */
.static ul {
  margin: 10px 0 20px 0;
}
/* line 976, ../sass/common.scss */
.static li {
  position: relative;
  padding-left: 12px;
  line-height: 1.5;
}
/* line 980, ../sass/common.scss */
.static li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2939px no-repeat;
  width: 5px;
  height: 9px;
}
/* line 988, ../sass/common.scss */
.static i {
  font-size: 12px;
}

/*lists*/
/* line 994, ../sass/common.scss */
.list li {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
/* line 999, ../sass/common.scss */
.list a {
  position: relative;
  display: block;
  padding-left: 15px;
  font-size: 14px;
  font-weight: normal;
}
/* line 1005, ../sass/common.scss */
.list a:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2939px no-repeat;
  width: 5px;
  height: 9px;
}

/* line 1016, ../sass/common.scss */
.list_red a:before {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2901px no-repeat;
  width: 5px;
  height: 9px;
}

/* line 1023, ../sass/common.scss */
.list_blue a:before {
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2835px no-repeat;
  width: 5px;
  height: 9px;
}

/*block-txt*/
/* line 1029, ../sass/common.scss */
.block-txt {
  padding-bottom: 20px;
  border-top: 1px dotted #cfcfcf;
}
/* line 1032, ../sass/common.scss */
.block-txt .h3 {
  padding: 20px 0;
}

/*articles*/
/* line 1038, ../sass/common.scss */
.articles ul {
  padding-bottom: 19px;
}
/* line 1041, ../sass/common.scss */
.articles li {
  padding: 19px 0;
  padding-right: 10px;
  border-top: 1px dotted #cfcfcf;
  overflow: hidden;
}
/* line 1046, ../sass/common.scss */
.articles li:first-child {
  margin-top: 0;
  border: none;
}
/* line 1051, ../sass/common.scss */
.articles img {
  float: left;
  margin-right: 20px;
  border: 1px solid #c2c2c2;
}
@media only screen and (max-width: 460px) {
  /* line 1051, ../sass/common.scss */
  .articles img {
    display: none;
  }
}
/* line 1059, ../sass/common.scss */
.articles p {
  margin-top: 5px;
}
/* line 1063, ../sass/common.scss */
.articles .h4 a {
  color: #666666;
}

/* line 1068, ../sass/common.scss */
.articles__pic {
  position: relative;
  float: left;
  margin-right: 20px;
}
/* line 1072, ../sass/common.scss */
.articles__pic img, .articles__pic span {
  display: block;
}
/* line 1075, ../sass/common.scss */
.articles__pic img {
  margin-right: 0px;
  border: none;
}
/* line 1079, ../sass/common.scss */
.articles__pic span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 10px;
  text-align: right;
  height: 17px;
  line-height: 17px;
  background: rgba(102, 102, 102, 0.7);
  font-size: 9px;
  color: #fff;
}
@media only screen and (max-width: 460px) {
  /* line 1068, ../sass/common.scss */
  .articles__pic {
    display: none;
  }
}

/* line 1096, ../sass/common.scss */
.articles__top {
  position: relative;
  background: #e8f7fe;
}
/* line 1099, ../sass/common.scss */
.articles__top i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-style: normal;
  color: #c2c2c2;
  font-size: 10px;
}

/*link-out*/
/* line 1109, ../sass/common.scss */
.link-out {
  position: relative;
  border-bottom: 1px dotted #666666;
  color: #666666;
}
/* line 1113, ../sass/common.scss */
.link-out i {
  position: absolute;
  top: 2px;
  right: -16px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2764px no-repeat;
  width: 11px;
  height: 11px;
}

/*tooltip*/
/* line 1121, ../sass/common.scss */
.tooltip {
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -130px;
  padding: 10px;
  width: 240px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #37559a;
}
/* line 1131, ../sass/common.scss */
.tooltip em {
  position: absolute;
  top: -21px;
  left: 50%;
  margin-left: -20px;
  background: url('../img/icons-s2b7b4f5c3a.png') 0 -2138px no-repeat;
  width: 39px;
  height: 21px;
}
/* line 1138, ../sass/common.scss */
.tooltip li {
  line-height: 1.5;
}
