/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 93, ../sass/_base.scss */
.search-filter-out, .ext-search, .aside-info li, .job-profile, .job-training__blue, .job-training__red, .company-profile {
  background: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
}

/*styles for inner pages*/
/*search-filter*/
/* line 7, ../sass/inner.scss */
.search-filter {
  margin-bottom: 35px;
  padding: 20px;
}
/* line 10, ../sass/inner.scss */
.search-filter h3 {
  position: relative;
  height: 39px;
  line-height: 39px;
  border-top: 1px dotted #666666;
  cursor: pointer;
  color: #a1a1a1;
  font-size: 14px;
}
/* line 18, ../sass/inner.scss */
.search-filter h3 i {
  position: absolute;
  top: 14px;
  right: 2px;
  background: url('../img/icons-s37cb77e9d3.png') 0 -2114px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 24, ../sass/inner.scss */
.search-filter h3.active {
  color: #666666;
}
/* line 26, ../sass/inner.scss */
.search-filter h3.active i {
  background: url('../img/icons-s37cb77e9d3.png') 0 -2135px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 31, ../sass/inner.scss */
.search-filter ul {
  padding-bottom: 20px;
}
/* line 33, ../sass/inner.scss */
.search-filter ul li {
  position: relative;
  height: 20px;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 4px;
}
/* line 40, ../sass/inner.scss */
.search-filter ul input {
  position: absolute;
  top: 3px;
  left: 0;
}

/* line 47, ../sass/inner.scss */
.search-filter__title {
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #37559a;
}
/* line 53, ../sass/inner.scss */
.search-filter__title span {
  position: absolute;
  right: 2px;
  bottom: 2px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #666666;
  cursor: pointer;
}
/* line 63, ../sass/inner.scss */
.search-filter__title i {
  position: absolute;
  top: 1px;
  right: 0;
  background: url('../img/icons-s37cb77e9d3.png') 0 -2055px no-repeat;
  width: 11px;
  height: 11px;
}

/*search-form*/
/* line 71, ../sass/inner.scss */
.ext-search {
  position: relative;
  padding-top: 10px;
  margin-bottom: 50px;
  z-index: 5;
}

/* line 78, ../sass/inner.scss */
.ext-search__fields-wrap {
  margin: 0 -8px;
  padding: 9px 18px 8px 18px;
  background: #22b5f4;
  -webkit-box-shadow: #7b7b7b 0px 2px 3px;
  -moz-box-shadow: #7b7b7b 0px 2px 3px;
  box-shadow: #7b7b7b 0px 2px 3px;
}

/* line 84, ../sass/inner.scss */
.ext-search__fields {
  position: relative;
  height: 26px;
}
/* line 87, ../sass/inner.scss */
.ext-search__fields input, .ext-search__fields button {
  position: absolute;
  top: 0;
  height: 26px;
}
/* line 92, ../sass/inner.scss */
.ext-search__fields input {
  left: 0;
  width: 76%;
  padding: 0 3% 0 1%;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: #666666 0px 1px 3px inset;
  -moz-box-shadow: #666666 0px 1px 3px inset;
  box-shadow: #666666 0px 1px 3px inset;
}
/* line 99, ../sass/inner.scss */
.ext-search__fields button {
  right: 0;
  width: 22%;
  background: #37559a;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3NTU5YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4M2U3MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283e71));
  background-image: -webkit-linear-gradient(#37559a, #283e71);
  background-image: -moz-linear-gradient(#37559a, #283e71);
  background-image: -o-linear-gradient(#37559a, #283e71);
  background-image: linear-gradient(#37559a, #283e71);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/* line 108, ../sass/inner.scss */
.ext-search__fields button i {
  position: absolute;
  top: 5px;
  left: 8.5%;
  background: url('../img/icons-s37cb77e9d3.png') 0 -1797px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 680px) {
  /* line 108, ../sass/inner.scss */
  .ext-search__fields button i {
    display: none;
  }
}

/* line 119, ../sass/inner.scss */
.ext-search__lists {
  margin: 20px 10px 0 10px;
  overflow: hidden;
}
/* line 122, ../sass/inner.scss */
.ext-search__lists ul {
  float: left;
  width: 35%;
  padding-bottom: 22px;
}
@media only screen and (max-width: 680px) {
  /* line 122, ../sass/inner.scss */
  .ext-search__lists ul {
    width: 100%;
  }
}
/* line 130, ../sass/inner.scss */
.ext-search__lists li {
  padding: 3px 0;
  font-size: 14px;
}
/* line 134, ../sass/inner.scss */
.ext-search__lists a {
  font-size: 12px;
}
/* line 137, ../sass/inner.scss */
.ext-search__lists .ext-search__list {
  margin-top: 22px;
}
@media only screen and (max-width: 680px) {
  /* line 137, ../sass/inner.scss */
  .ext-search__lists .ext-search__list {
    margin-top: -22px;
  }
}
/* line 143, ../sass/inner.scss */
.ext-search__lists .ext-search__list-1 {
  width: 30%;
}
@media only screen and (max-width: 680px) {
  /* line 143, ../sass/inner.scss */
  .ext-search__lists .ext-search__list-1 {
    width: 100%;
  }
}
/* line 149, ../sass/inner.scss */
.ext-search__lists .ext-search__list-2 {
  margin-top: 22px;
}

/* line 153, ../sass/inner.scss */
.ext-search__filter {
  padding: 10px;
  overflow: hidden;
}
/* line 156, ../sass/inner.scss */
.ext-search__filter li {
  position: relative;
  float: left;
  padding-right: 15px;
  margin-right: 20px;
  cursor: pointer;
}
/* line 163, ../sass/inner.scss */
.ext-search__filter i {
  position: absolute;
  top: 3px;
  right: 0;
  background: url('../img/icons-s37cb77e9d3.png') 0 -2055px no-repeat;
  width: 11px;
  height: 11px;
}

/* line 171, ../sass/inner.scss */
.ext-search__lists_s ul {
  width: 21%;
  margin-left: 5%;
}
/* line 174, ../sass/inner.scss */
.ext-search__lists_s ul:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 680px) {
  /* line 171, ../sass/inner.scss */
  .ext-search__lists_s ul {
    width: 50%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 460px) {
  /* line 171, ../sass/inner.scss */
  .ext-search__lists_s ul {
    width: 100%;
  }
}

/*saerch-results*/
/* line 187, ../sass/inner.scss */
.search-results {
  margin: -50px 0 10px 0;
}
/* line 189, ../sass/inner.scss */
.search-results li {
  padding: 10px;
  border-top: 1px dotted #666666;
  overflow: hidden;
}
/* line 193, ../sass/inner.scss */
.search-results li:first-child {
  border: none;
}
/* line 197, ../sass/inner.scss */
.search-results .view-all {
  margin-bottom: 30px;
}

/* line 201, ../sass/inner.scss */
.search-results__sponsored {
  position: relative;
  background: #d3f0fd;
}
/* line 204, ../sass/inner.scss */
.search-results__sponsored em {
  position: absolute;
  top: 10px;
  right: 10px;
  font-style: normal;
  font-size: 10px;
}

/* line 212, ../sass/inner.scss */
.search-results__pic {
  float: left;
  margin-right: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}
/* line 218, ../sass/inner.scss */
.search-results__pic img {
  display: block;
}
@media only screen and (max-width: 460px) {
  /* line 212, ../sass/inner.scss */
  .search-results__pic {
    display: none;
  }
}

/* line 225, ../sass/inner.scss */
.search-results__detail {
  overflow: hidden;
  font-size: 12px;
  color: #acacac;
}
/* line 229, ../sass/inner.scss */
.search-results__detail .h3 {
  font-weight: bold;
  margin-bottom: 6px;
}
/* line 233, ../sass/inner.scss */
.search-results__detail span {
  display: block;
  margin-top: 11px;
  padding-top: 4px;
  border-top: 1px dotted #cfcfcf;
}

/*top10*/
/* line 242, ../sass/inner.scss */
.top10 .h1 {
  margin: 45px 0 15px 0;
}

/* line 246, ../sass/inner.scss */
.top10__lists {
  padding-bottom: 30px;
  border-bottom: 1px dotted #cfcfcf;
  overflow: hidden;
}
/* line 250, ../sass/inner.scss */
.top10__lists ul {
  float: left;
  width: 35%;
}
@media only screen and (max-width: 680px) {
  /* line 250, ../sass/inner.scss */
  .top10__lists ul {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* line 258, ../sass/inner.scss */
.top10__lists .top10__list {
  width: 30%;
}
@media only screen and (max-width: 680px) {
  /* line 258, ../sass/inner.scss */
  .top10__lists .top10__list {
    width: 100%;
  }
}
/* line 264, ../sass/inner.scss */
.top10__lists li {
  height: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 12px;
}
/* line 270, ../sass/inner.scss */
.top10__lists b {
  font-size: 16px;
}
/* line 273, ../sass/inner.scss */
.top10__lists span {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
/* line 279, ../sass/inner.scss */
.top10__lists .top10__three {
  font-size: 14px;
}
/* line 281, ../sass/inner.scss */
.top10__lists .top10__three span {
  background: #37559a;
  font-weight: bold;
  color: #fff;
}

/* line 288, ../sass/inner.scss */
.top10__info {
  margin-bottom: 30px;
}
/* line 290, ../sass/inner.scss */
.top10__info .h3 {
  margin: 30px 0 20px 0;
}

/*aside-info*/
/* line 295, ../sass/inner.scss */
.aside-info {
  width: 320px;
  overflow: hidden;
}
/* line 298, ../sass/inner.scss */
.aside-info ul {
  margin-right: -25px;
  overflow: hidden;
}
/* line 302, ../sass/inner.scss */
.aside-info li {
  float: left;
  width: 130px;
  min-height: 135px;
  margin: 0 20px 20px 0;
  padding: 10px;
}
/* line 310, ../sass/inner.scss */
.aside-info a {
  position: relative;
  font-size: 13px;
}
/* line 314, ../sass/inner.scss */
.aside-info img {
  margin-bottom: 5px;
}
@media only screen and (max-width: 1000px) {
  /* line 295, ../sass/inner.scss */
  .aside-info {
    width: 100%;
  }
}

/*aside-articles*/
/* line 323, ../sass/inner.scss */
.aside-articles ul {
  margin-bottom: 25px;
}
/* line 326, ../sass/inner.scss */
.aside-articles li {
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 330, ../sass/inner.scss */
.aside-articles a {
  font-size: 16px;
  line-height: 1.3;
}

/* line 335, ../sass/inner.scss */
.aside-articles__pic {
  float: left;
  width: 95px;
  margin-right: 15px;
  text-align: center;
}
/* line 340, ../sass/inner.scss */
.aside-articles__pic img {
  display: inline-block;
}
@media only screen and (max-width: 460px) {
  /* line 335, ../sass/inner.scss */
  .aside-articles__pic {
    display: none;
  }
}

/*job-profile*/
/* line 348, ../sass/inner.scss */
.job-profile {
  position: relative;
  padding: 20px;
  margin-bottom: 18px;
  overflow: hidden;
}

/* line 355, ../sass/inner.scss */
.job-profile__pic {
  float: left;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 358, ../sass/inner.scss */
.job-profile__pic img {
  display: block;
  margin-right: 20px;
}
@media only screen and (max-width: 460px) {
  /* line 358, ../sass/inner.scss */
  .job-profile__pic img {
    width: 100%;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 840px) {
  /* line 355, ../sass/inner.scss */
  .job-profile__pic {
    float: none;
    margin-bottom: 20px;
  }
}

/* line 371, ../sass/inner.scss */
.job-profile__info {
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}
/* line 375, ../sass/inner.scss */
.job-profile__info .h2 {
  margin-bottom: 15px;
  color: #37559A;
}
@media only screen and (max-width: 1000px) {
  /* line 375, ../sass/inner.scss */
  .job-profile__info .h2 {
    font-size: 22px;
  }
}
/* line 382, ../sass/inner.scss */
.job-profile__info li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 5px;
}
/* line 386, ../sass/inner.scss */
.job-profile__info li i {
  position: absolute;
  top: 3px;
  left: 0;
  background: url('../img/icons-s37cb77e9d3.png') 0 -2095px no-repeat;
  width: 5px;
  height: 9px;
}
@media only screen and (max-width: 680px) {
  /* line 371, ../sass/inner.scss */
  .job-profile__info {
    padding-bottom: 140px;
  }
}

/* line 397, ../sass/inner.scss */
.job-profile__btn {
  position: absolute;
  bottom: 20px;
  height: 36px;
  line-height: 36px;
  padding: 0 15px 0 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/* line 408, ../sass/inner.scss */
.job-profile__btn i {
  position: absolute;
  top: 12px;
  left: 13px;
  background: url('../img/icons-s37cb77e9d3.png') 0 -1925px no-repeat;
  width: 6px;
  height: 13px;
}
@media only screen and (max-width: 1000px) {
  /* line 397, ../sass/inner.scss */
  .job-profile__btn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 397, ../sass/inner.scss */
  .job-profile__btn {
    left: 20px;
  }
}

/* line 421, ../sass/inner.scss */
.job-profile__btn_gray {
  right: 250px;
  border: 1px solid #8c8c8c;
  background: #8c8c8c;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c8c8c), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(#8c8c8c, #666666);
  background-image: -moz-linear-gradient(#8c8c8c, #666666);
  background-image: -o-linear-gradient(#8c8c8c, #666666);
  background-image: linear-gradient(#8c8c8c, #666666);
}
@media only screen and (max-width: 1000px) {
  /* line 421, ../sass/inner.scss */
  .job-profile__btn_gray {
    right: 230px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 421, ../sass/inner.scss */
  .job-profile__btn_gray {
    right: auto;
    bottom: 80px;
  }
}

/* line 434, ../sass/inner.scss */
.job-profile__btn_blue {
  right: 20px;
  border: 1px solid #22b5f4;
  background: #22b5f4;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYjVmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2OTFiZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22b5f4), color-stop(100%, #0691bf));
  background-image: -webkit-linear-gradient(#22b5f4, #0691bf);
  background-image: -moz-linear-gradient(#22b5f4, #0691bf);
  background-image: -o-linear-gradient(#22b5f4, #0691bf);
  background-image: linear-gradient(#22b5f4, #0691bf);
}
@media only screen and (max-width: 680px) {
  /* line 434, ../sass/inner.scss */
  .job-profile__btn_blue {
    right: auto;
    bottom: 20px;
  }
}

/*job-gallery*/
/* line 445, ../sass/inner.scss */
.job-gallery {
  overflow: hidden;
}
/* line 447, ../sass/inner.scss */
.job-gallery ul {
  margin: 0 -20px 20px 0;
  font-size: 0;
  overflow: hidden;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  /* line 447, ../sass/inner.scss */
  .job-gallery ul {
    margin: 0;
  }
}
/* line 456, ../sass/inner.scss */
.job-gallery li {
  position: relative;
  float: left;
  width: 150px;
  margin-right: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  /* line 456, ../sass/inner.scss */
  .job-gallery li {
    float: none;
    display: inline-block;
    margin: 0 20px 20px 0;
  }
}
@media only screen and (max-width: 460px) {
  /* line 456, ../sass/inner.scss */
  .job-gallery li {
    margin: 0 5px 5px 0;
  }
}
@media only screen and (max-width: 320px) {
  /* line 456, ../sass/inner.scss */
  .job-gallery li {
    margin: 0 5px 5px 5px;
  }
}
/* line 473, ../sass/inner.scss */
.job-gallery li i {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
/* line 480, ../sass/inner.scss */
.job-gallery .job-gallery__def i {
  top: 0;
  left: 0;
  width: 148px;
  height: 98px;
  border: 1px solid #f2f2f2;
}

/* line 490, ../sass/inner.scss */
.job-gallery__video i {
  background: url('../img/icons-s37cb77e9d3.png') 0 -1900px no-repeat;
  width: 26px;
  height: 15px;
}

/* line 495, ../sass/inner.scss */
.job-gallery__photo i {
  background: url('../img/icons-s37cb77e9d3.png') 0 -1872px no-repeat;
  width: 24px;
  height: 18px;
}

/*job-detail*/
/* line 501, ../sass/inner.scss */
.job-detail .h3 {
  padding: 20px 0;
  border-top: 1px dotted #cfcfcf;
}
/* line 504, ../sass/inner.scss */
.job-detail .h3:first-child {
  padding: 0 0 20px 0;
  border: none;
}
/* line 509, ../sass/inner.scss */
.job-detail p {
  margin-bottom: 20px;
}

/*job-training*/
/* line 514, ../sass/inner.scss */
.job-training {
  margin-bottom: 20px;
  padding: 0 1px 2px 1px;
  overflow: hidden;
}

/* line 519, ../sass/inner.scss */
.job-training__left, .job-training__right {
  width: 49%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 680px) {
  /* line 519, ../sass/inner.scss */
  .job-training__left, .job-training__right {
    width: 100%;
  }
}

/* line 526, ../sass/inner.scss */
.job-training__left {
  float: left;
}

/* line 529, ../sass/inner.scss */
.job-training__right {
  float: right;
}

/* line 532, ../sass/inner.scss */
.job-training__blue, .job-training__red {
  position: relative;
  min-height: 90px;
  padding: 20px 20px 20px 65px;
}
/* line 537, ../sass/inner.scss */
.job-training__blue em, .job-training__red em {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 542, ../sass/inner.scss */
.job-training__blue .h4, .job-training__red .h4 {
  margin-bottom: 12px;
}
/* line 545, ../sass/inner.scss */
.job-training__blue a, .job-training__red a {
  position: relative;
  display: block;
  margin-top: 7px;
  padding-left: 15px;
}
/* line 551, ../sass/inner.scss */
.job-training__blue i, .job-training__red i {
  position: absolute;
  top: 2px;
  left: 0;
  background: url('../img/icons-s37cb77e9d3.png') 0 -1948px no-repeat;
  width: 6px;
  height: 11px;
}
@media only screen and (max-width: 680px) {
  /* line 532, ../sass/inner.scss */
  .job-training__blue, .job-training__red {
    min-height: auto;
  }
}

/* line 562, ../sass/inner.scss */
.job-training__blue em {
  background: url('../img/icons-s37cb77e9d3.png') 0 -1597px no-repeat;
  width: 44px;
  height: 41px;
}
/* line 565, ../sass/inner.scss */
.job-training__blue .h4 {
  color: #22b5f4;
}

/* line 570, ../sass/inner.scss */
.job-training__red em {
  background: url('../img/icons-s37cb77e9d3.png') 0 -1504px no-repeat;
  width: 44px;
  height: 41px;
}
/* line 573, ../sass/inner.scss */
.job-training__red .h4 {
  color: #e2007a;
}

/*job-tips*/
/* line 578, ../sass/inner.scss */
.job-tips {
  border-top: 1px dotted #cfcfcf;
  margin-bottom: 80px;
}
/* line 581, ../sass/inner.scss */
.job-tips .h3 {
  margin: 20px 0;
}

/*top-employer*/
/* line 586, ../sass/inner.scss */
.top-employer {
  width: 320px;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  /* line 586, ../sass/inner.scss */
  .top-employer {
    width: 100%;
  }
}
/* line 592, ../sass/inner.scss */
.top-employer ul {
  margin: 0 -30px 40px 0;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  /* line 592, ../sass/inner.scss */
  .top-employer ul {
    margin: 0 0 40px 0;
  }
}
@media only screen and (max-width: 460px) {
  /* line 592, ../sass/inner.scss */
  .top-employer ul {
    text-align: center;
  }
}
/* line 602, ../sass/inner.scss */
.top-employer li {
  float: left;
  width: 150px;
  margin: 0 16px 8px 0;
  border: 1px dotted #cfcfcf;
}
@media only screen and (max-width: 460px) {
  /* line 602, ../sass/inner.scss */
  .top-employer li {
    float: none;
    display: inline-block;
    margin: 0 40px 8px 40px;
  }
}
/* line 613, ../sass/inner.scss */
.top-employer .aside-title {
  margin-bottom: 15px;
}

/*do*/
/* line 618, ../sass/inner.scss */
.do {
  position: absolute;
  top: 17px;
  right: 0;
  font-size: 12px;
}
/* line 623, ../sass/inner.scss */
.do li {
  float: left;
}
/* line 626, ../sass/inner.scss */
.do span, .do a {
  float: left;
}
/* line 629, ../sass/inner.scss */
.do a {
  position: relative;
  padding-left: 20px;
  color: #666666;
  font-weight: normal;
}
/* line 635, ../sass/inner.scss */
.do i {
  position: absolute;
  top: -2px;
}
@media only screen and (max-width: 1000px) {
  /* line 618, ../sass/inner.scss */
  .do {
    bottom: 0;
    top: auto;
    left: 0;
  }
}

/* line 645, ../sass/inner.scss */
.do__print {
  margin-right: 5px;
}
/* line 647, ../sass/inner.scss */
.do__print i {
  left: 0;
  background: url('../img/icons-s37cb77e9d3.png') 0 -1822px no-repeat;
  width: 16px;
  height: 16px;
}

/* line 653, ../sass/inner.scss */
.do__notice i {
  left: 8px;
  background: url('../img/icons-s37cb77e9d3.png') 0 -2029px no-repeat;
  width: 8px;
  height: 16px;
}

/*job-info*/
/* line 659, ../sass/inner.scss */
.job-info {
  padding-bottom: 10px;
}

/* line 662, ../sass/inner.scss */
.job-info__detail {
  float: left;
  width: 74.5%;
  line-height: 28px;
  border-top: 1px dotted #cfcfcf;
  border-bottom: 1px dotted #cfcfcf;
  font-size: 12px;
}
/* line 669, ../sass/inner.scss */
.job-info__detail span {
  margin: 0 8px;
}
/* line 672, ../sass/inner.scss */
.job-info__detail b {
  margin-right: 4px;
}

/* line 676, ../sass/inner.scss */
.job-info__apply {
  float: right;
  width: 23.5%;
  text-align: center;
}
/* line 680, ../sass/inner.scss */
.job-info__apply a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 5%;
  background: #22b5f4;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYjVmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2OTFiZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22b5f4), color-stop(100%, #0691bf));
  background-image: -webkit-linear-gradient(#22b5f4, #0691bf);
  background-image: -moz-linear-gradient(#22b5f4, #0691bf);
  background-image: -o-linear-gradient(#22b5f4, #0691bf);
  background-image: linear-gradient(#22b5f4, #0691bf);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px, rgba(255, 255, 255, 0.4) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px, rgba(255, 255, 255, 0.4) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px, rgba(255, 255, 255, 0.4) 0 0 1px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  /* line 680, ../sass/inner.scss */
  .job-info__apply a {
    display: inline-block;
    width: 235px;
    margin-top: 15px;
  }
}
/* line 699, ../sass/inner.scss */
.job-info__apply span {
  position: relative;
}
/* line 702, ../sass/inner.scss */
.job-info__apply i {
  position: absolute;
  top: 5px;
  left: -15px;
  background: url('../img/icons-s37cb77e9d3.png') 0 -2234px no-repeat;
  width: 6px;
  height: 13px;
}

@media only screen and (max-width: 1000px) {
  /* line 709, ../sass/inner.scss */
  .job-info__detail, .job-info__apply {
    width: 100%;
  }
}

/*company-profile*/
/* line 715, ../sass/inner.scss */
.company-profile {
  padding: 20px;
}
