/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 93, ../sass/_base.scss */
.search-filter-out, .ext-search, .aside-info li {
  background: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
}

/*styles for inner pages*/
/*search-filter*/
/* line 7, ../sass/inner.scss */
.search-filter {
  margin-bottom: 35px;
  padding: 20px;
  color: #666666;
}
/* line 11, ../sass/inner.scss */
.search-filter .h2 {
  position: relative;
  margin-bottom: 15px;
}
/* line 14, ../sass/inner.scss */
.search-filter .h2 span {
  position: absolute;
  right: 2px;
  bottom: 1px;
  padding-right: 20px;
  font-size: 12px;
  color: #666666;
  font-weight: normal;
  cursor: pointer;
}
/* line 24, ../sass/inner.scss */
.search-filter .h2 i {
  position: absolute;
  top: 1px;
  right: 0;
  background: url('../img/icons-se9ecd27fc6.png') 0 -1763px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 31, ../sass/inner.scss */
.search-filter h3 {
  position: relative;
  height: 39px;
  line-height: 39px;
  border-top: 1px dotted #666666;
  cursor: pointer;
  color: #a1a1a1;
}
/* line 38, ../sass/inner.scss */
.search-filter h3 i {
  position: absolute;
  top: 14px;
  right: 2px;
  background: url('../img/icons-se9ecd27fc6.png') 0 -1803px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 44, ../sass/inner.scss */
.search-filter h3.active {
  color: #666666;
}
/* line 46, ../sass/inner.scss */
.search-filter h3.active i {
  background: url('../img/icons-se9ecd27fc6.png') 0 -1824px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 51, ../sass/inner.scss */
.search-filter ul {
  padding-bottom: 20px;
}
/* line 53, ../sass/inner.scss */
.search-filter ul li {
  position: relative;
  height: 20px;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 4px;
}
/* line 60, ../sass/inner.scss */
.search-filter ul input {
  position: absolute;
  top: 3px;
  left: 0;
}

/*search-form*/
/* line 68, ../sass/inner.scss */
.ext-search {
  padding-top: 10px;
  margin-bottom: 50px;
}

/* line 73, ../sass/inner.scss */
.ext-search__fields-wrap {
  margin: 0 -8px;
  padding: 9px 18px 8px 18px;
  background: #22b5f4;
  -webkit-box-shadow: #7b7b7b 0px 2px 3px;
  -moz-box-shadow: #7b7b7b 0px 2px 3px;
  box-shadow: #7b7b7b 0px 2px 3px;
}

/* line 79, ../sass/inner.scss */
.ext-search__fields {
  position: relative;
  height: 26px;
}
/* line 82, ../sass/inner.scss */
.ext-search__fields input, .ext-search__fields button {
  position: absolute;
  top: 0;
  height: 26px;
}
/* line 87, ../sass/inner.scss */
.ext-search__fields input {
  left: 0;
  width: 76%;
  padding: 0 3% 0 1%;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: #666666 0px 1px 3px inset;
  -moz-box-shadow: #666666 0px 1px 3px inset;
  box-shadow: #666666 0px 1px 3px inset;
}
/* line 94, ../sass/inner.scss */
.ext-search__fields button {
  right: 0;
  width: 22%;
  background: #37559a;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3NTU5YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4M2U3MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283e71));
  background-image: -webkit-linear-gradient(#37559a, #283e71);
  background-image: -moz-linear-gradient(#37559a, #283e71);
  background-image: -o-linear-gradient(#37559a, #283e71);
  background-image: linear-gradient(#37559a, #283e71);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/* line 103, ../sass/inner.scss */
.ext-search__fields button i {
  position: absolute;
  top: 5px;
  left: 8.5%;
  background: url('../img/icons-se9ecd27fc6.png') 0 -1633px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 680px) {
  /* line 103, ../sass/inner.scss */
  .ext-search__fields button i {
    display: none;
  }
}

/* line 114, ../sass/inner.scss */
.ext-search__lists {
  margin: 20px 10px 0 10px;
  overflow: hidden;
}
/* line 117, ../sass/inner.scss */
.ext-search__lists ul {
  float: left;
  width: 35%;
  padding-bottom: 22px;
}
@media only screen and (max-width: 680px) {
  /* line 117, ../sass/inner.scss */
  .ext-search__lists ul {
    width: 100%;
  }
}
/* line 125, ../sass/inner.scss */
.ext-search__lists li {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #666666;
}
/* line 131, ../sass/inner.scss */
.ext-search__lists a {
  font-size: 12px;
}
/* line 134, ../sass/inner.scss */
.ext-search__lists .ext-search__list {
  margin-top: 22px;
}
@media only screen and (max-width: 680px) {
  /* line 134, ../sass/inner.scss */
  .ext-search__lists .ext-search__list {
    margin-top: -22px;
  }
}
/* line 140, ../sass/inner.scss */
.ext-search__lists .ext-search__list-1 {
  width: 30%;
}
@media only screen and (max-width: 680px) {
  /* line 140, ../sass/inner.scss */
  .ext-search__lists .ext-search__list-1 {
    width: 100%;
  }
}

/*top10*/
/* line 149, ../sass/inner.scss */
.top10 .h2 {
  margin: 45px 0 15px 0;
  font-size: 30px;
  color: #666666;
}

/* line 155, ../sass/inner.scss */
.top10__lists {
  padding-bottom: 30px;
  border-bottom: 1px dotted #cfcfcf;
  overflow: hidden;
}
/* line 159, ../sass/inner.scss */
.top10__lists ul {
  float: left;
  width: 35%;
}
@media only screen and (max-width: 680px) {
  /* line 159, ../sass/inner.scss */
  .top10__lists ul {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* line 167, ../sass/inner.scss */
.top10__lists .top10__list {
  width: 30%;
}
@media only screen and (max-width: 680px) {
  /* line 167, ../sass/inner.scss */
  .top10__lists .top10__list {
    width: 100%;
  }
}
/* line 173, ../sass/inner.scss */
.top10__lists li {
  height: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 12px;
  color: #666666;
}
/* line 180, ../sass/inner.scss */
.top10__lists b {
  font-size: 16px;
}
/* line 183, ../sass/inner.scss */
.top10__lists span {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
/* line 189, ../sass/inner.scss */
.top10__lists .top10__three {
  font-size: 14px;
}
/* line 191, ../sass/inner.scss */
.top10__lists .top10__three span {
  background: #37559a;
  font-weight: bold;
  color: #fff;
}

/* line 198, ../sass/inner.scss */
.top10__info {
  margin-bottom: 30px;
  color: #666666;
}
/* line 201, ../sass/inner.scss */
.top10__info .h3 {
  margin: 30px 0 20px 0;
  font-size: 20px;
  font-weight: normal;
}
/* line 206, ../sass/inner.scss */
.top10__info p {
  line-height: 1.5;
}

/*aside-info*/
/* line 211, ../sass/inner.scss */
.aside-info {
  overflow: hidden;
  margin-right: -25px;
}
@media only screen and (max-width: 1000px) {
  /* line 211, ../sass/inner.scss */
  .aside-info {
    margin-right: 0px;
  }
}
/* line 217, ../sass/inner.scss */
.aside-info li {
  float: left;
  width: 130px;
  min-height: 135px;
  margin: 0 20px 20px 0;
  padding: 10px;
}
/* line 225, ../sass/inner.scss */
.aside-info a {
  position: relative;
  font-size: 13px;
}
/* line 229, ../sass/inner.scss */
.aside-info img {
  margin-bottom: 5px;
}
