/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* default layout */
/* line 3, ../sass/layouts.scss */
.col-1 {
  float: left;
  width: 66%;
}

/* line 7, ../sass/layouts.scss */
.col-1_1 {
  float: right;
}

/* line 10, ../sass/layouts.scss */
.col-2 {
  float: right;
  width: 32%;
}

/* line 14, ../sass/layouts.scss */
.col-2_1 {
  float: left;
}
