/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 2, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 3, ../sass/common.scss */
body {
  min-width: 320px;
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

/*resets*/
/* line 13, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 16, ../sass/common.scss */
a {
  color: #37559a;
  text-decoration: none;
}

/* line 20, ../sass/common.scss */
li {
  list-style: none;
}

/* line 23, ../sass/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 27, ../sass/common.scss */
button {
  cursor: pointer;
}

/* line 30, ../sass/common.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 34, ../sass/common.scss */
.clr {
  clear: both;
}

/*wrap*/
/* line 38, ../sass/common.scss */
.wrap {
  width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  /* line 38, ../sass/common.scss */
  .wrap {
    width: 100%;
  }
}

/* line 45, ../sass/common.scss */
.container {
  position: relative;
}
@media only screen and (max-width: 1000px) {
  /* line 45, ../sass/common.scss */
  .container {
    margin: 0 10px;
  }
}

/*header*/
/* line 52, ../sass/common.scss */
.header-out {
  position: relative;
  width: 100%;
  background: #37559a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283d70));
  background-image: -webkit-linear-gradient(#37559a, #283d70);
  background-image: -moz-linear-gradient(#37559a, #283d70);
  background-image: -o-linear-gradient(#37559a, #283d70);
  background-image: linear-gradient(#37559a, #283d70);
}

/* line 58, ../sass/common.scss */
.header {
  position: relative;
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 58, ../sass/common.scss */
  .header {
    width: 100%;
  }
}

/*logo*/
/* line 69, ../sass/common.scss */
.logo {
  float: left;
  margin-right: 53px;
  background: url('../img/icons-s851643d656.png') 0 0 no-repeat;
  width: 172px;
  height: 50px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 73, ../sass/common.scss */
.logo a {
  display: block;
  width: 172px;
  height: 50px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
@media only screen and (max-width: 1000px) {
  /* line 69, ../sass/common.scss */
  .logo {
    margin: 0 12px 0 10px;
  }
}

/*navigation*/
/* line 87, ../sass/common.scss */
.nav {
  float: left;
  margin-top: 7px;
}
@media only screen and (max-width: 680px) {
  /* line 87, ../sass/common.scss */
  .nav {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    margin-top: 0px;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 100;
  }
}
/* line 100, ../sass/common.scss */
.nav li {
  float: left;
  height: 43px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 104, ../sass/common.scss */
.nav li.active {
  margin-left: -1px;
  background: #fff;
}
/* line 107, ../sass/common.scss */
.nav li.active a {
  padding: 0 18px 0 19px;
  color: #37559a;
}
/* line 113, ../sass/common.scss */
.nav li:first-child a {
  border: none;
}
@media only screen and (max-width: 680px) {
  /* line 100, ../sass/common.scss */
  .nav li {
    float: none;
    width: auto;
    height: auto;
    margin: 0 10px;
    border-top: 1px dotted #cfcfcf;
  }
  /* line 123, ../sass/common.scss */
  .nav li:first-child {
    border: none;
  }
}
/* line 128, ../sass/common.scss */
.nav a {
  display: block;
  height: 23px;
  margin-top: 6px;
  padding: 0 18px;
  line-height: 23px;
  border-left: 1px dotted #fff;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  /* line 128, ../sass/common.scss */
  .nav a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 128, ../sass/common.scss */
  .nav a {
    height: 27px;
    margin: 0;
    padding: 0;
    line-height: 27px;
    color: #37559a;
    font-weight: bold;
  }
}
/* line 150, ../sass/common.scss */
.nav .nav__search {
  display: none;
}
@media only screen and (max-width: 840px) {
  /* line 150, ../sass/common.scss */
  .nav .nav__search {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  /* line 150, ../sass/common.scss */
  .nav .nav__search {
    display: none;
  }
}
/* line 158, ../sass/common.scss */
.nav .nav__search a {
  position: relative;
  padding: 0 0 0 38px;
}
/* line 161, ../sass/common.scss */
.nav .nav__search a i {
  position: absolute;
  top: 4px;
  left: 15px;
  background: url('../img/icons-s851643d656.png') 0 -613px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 840px) {
  /* line 169, ../sass/common.scss */
  .nav.show {
    display: block;
  }
}

/*small navigation*/
/* line 176, ../sass/common.scss */
.nav-s {
  display: none;
  float: right;
  margin: 6px 10px 0 0;
}
@media only screen and (max-width: 680px) {
  /* line 176, ../sass/common.scss */
  .nav-s {
    display: block;
  }
}
/* line 183, ../sass/common.scss */
.nav-s li {
  position: relative;
  float: left;
  width: 56px;
  height: 44px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
/* line 190, ../sass/common.scss */
.nav-s li span {
  display: block;
  margin-top: 27px;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
/* line 197, ../sass/common.scss */
.nav-s li i {
  position: absolute;
  top: 5px;
  left: 18px;
}
/* line 202, ../sass/common.scss */
.nav-s li .nav-s__menu-ico {
  background: url('../img/icons-s851643d656.png') 0 -790px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 205, ../sass/common.scss */
.nav-s li .nav-s__search-ico {
  background: url('../img/icons-s851643d656.png') 0 -556px no-repeat;
  width: 20px;
  height: 20px;
}
/* line 208, ../sass/common.scss */
.nav-s li.active {
  background: #fff;
}
/* line 210, ../sass/common.scss */
.nav-s li.active span {
  color: #37559a;
}
/* line 213, ../sass/common.scss */
.nav-s li.active .nav-s__menu-ico {
  background: url('../img/icons-s851643d656.png') 0 -761px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 216, ../sass/common.scss */
.nav-s li.active .nav-s__search-ico {
  background: url('../img/icons-s851643d656.png') 0 -526px no-repeat;
  width: 20px;
  height: 20px;
}

/*search*/
/* line 223, ../sass/common.scss */
.search {
  float: right;
  margin-top: 13px;
  width: 222px;
}
@media only screen and (max-width: 1000px) {
  /* line 223, ../sass/common.scss */
  .search {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 840px) {
  /* line 223, ../sass/common.scss */
  .search {
    display: none;
    position: absolute;
    top: 7px;
    left: 200px;
    right: 10px;
    width: auto;
    height: 31px;
    margin: 0;
    padding: 12px 60px 0 15px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #fff;
  }
}
@media only screen and (max-width: 680px) {
  /* line 223, ../sass/common.scss */
  .search {
    display: none;
    top: 50px;
    left: 0;
    right: 0;
    height: 23px;
    padding: 13px 10px 15px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 100;
  }
}
/* line 253, ../sass/common.scss */
.search input, .search button {
  float: left;
  height: 23px;
}
/* line 257, ../sass/common.scss */
.search input {
  width: 176px;
  padding: 0 10px;
  background: #fff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
@media only screen and (max-width: 840px) {
  /* line 257, ../sass/common.scss */
  .search input {
    width: 88%;
    padding: 0 6% 0 3%;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
  }
}
@media only screen and (max-width: 680px) {
  /* line 257, ../sass/common.scss */
  .search input {
    width: 75%;
    padding: 0 6% 0 3%;
  }
}
/* line 273, ../sass/common.scss */
.search button {
  width: 26px;
  background: #22b5f4;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 277, ../sass/common.scss */
.search button i {
  margin: 4px 0 0 5px;
  display: block;
  background: url('../img/icons-s851643d656.png') 0 -613px no-repeat;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 680px) {
  /* line 277, ../sass/common.scss */
  .search button i {
    display: none;
  }
}
/* line 285, ../sass/common.scss */
.search button span {
  display: none;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
@media only screen and (max-width: 680px) {
  /* line 285, ../sass/common.scss */
  .search button span {
    display: block;
  }
}
@media only screen and (max-width: 840px) {
  /* line 273, ../sass/common.scss */
  .search button {
    position: absolute;
    top: 12px;
    right: 60px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 273, ../sass/common.scss */
  .search button {
    top: 13px;
    right: 10px;
    width: 20%;
  }
}
/* line 305, ../sass/common.scss */
.search .search__close {
  display: none;
  position: absolute;
  top: 15px;
  right: 23px;
  background: url('../img/icons-s851643d656.png') 0 -586px no-repeat;
  width: 15px;
  height: 17px;
  cursor: pointer;
}
@media only screen and (max-width: 840px) {
  /* line 305, ../sass/common.scss */
  .search .search__close {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  /* line 305, ../sass/common.scss */
  .search .search__close {
    display: none;
  }
}
@media only screen and (max-width: 840px) {
  /* line 319, ../sass/common.scss */
  .search.show {
    display: block;
  }
}

/*footer*/
/* line 326, ../sass/common.scss */
.footer-out {
  position: relative;
  background: #37559a;
}
/* line 329, ../sass/common.scss */
.footer-out:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #37559a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283d70), color-stop(60%, #37559a));
  background-image: -webkit-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: -moz-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: -o-linear-gradient(#283d70 0%, #37559a 60%);
  background-image: linear-gradient(#283d70 0%, #37559a 60%);
}

/* line 340, ../sass/common.scss */
.footer {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 340, ../sass/common.scss */
  .footer {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 340, ../sass/common.scss */
  .footer {
    width: 100%;
  }
}

/* line 353, ../sass/common.scss */
.footer__nav {
  padding: 27px 0;
  border-bottom: 1px dotted #fff;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 353, ../sass/common.scss */
  .footer__nav {
    padding: 27px 10px;
  }
}
/* line 361, ../sass/common.scss */
.footer__nav ul {
  float: left;
  width: 17%;
}
@media only screen and (max-width: 1000px) {
  /* line 361, ../sass/common.scss */
  .footer__nav ul {
    width: 25%;
  }
}
@media only screen and (max-width: 680px) {
  /* line 361, ../sass/common.scss */
  .footer__nav ul {
    width: 50%;
  }
}
/* line 370, ../sass/common.scss */
.footer__nav ul li {
  margin-bottom: 7px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
@media only screen and (max-width: 1000px) {
  /* line 370, ../sass/common.scss */
  .footer__nav ul li {
    white-space: normal;
  }
}
/* line 380, ../sass/common.scss */
.footer__nav ul a {
  position: relative;
  padding-left: 10px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
/* line 387, ../sass/common.scss */
.footer__nav ul i {
  position: absolute;
  top: 3px;
  left: 0;
  background: url('../img/icons-s851643d656.png') 0 -722px no-repeat;
  width: 5px;
  height: 9px;
}
/* line 395, ../sass/common.scss */
.footer__nav .footer__social a {
  display: block;
  height: 32px;
  line-height: 32px;
  padding-left: 45px;
}
/* line 401, ../sass/common.scss */
.footer__nav .footer__social i {
  top: 0;
  left: 0;
}
/* line 407, ../sass/common.scss */
.footer__nav .footer__social-fb i {
  background: url('../img/icons-s851643d656.png') 0 -484px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 412, ../sass/common.scss */
.footer__nav .footer__social-tw i {
  background: url('../img/icons-s851643d656.png') 0 -442px no-repeat;
  width: 32px;
  height: 32px;
}

/* line 417, ../sass/common.scss */
.footer__nav_change {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  /* line 417, ../sass/common.scss */
  .footer__nav_change {
    position: relative;
    width: 50%;
    padding-right: 50%;
  }
}
@media only screen and (max-width: 680px) {
  /* line 417, ../sass/common.scss */
  .footer__nav_change {
    width: 100%;
    padding-right: 0;
    padding-bottom: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 429, ../sass/common.scss */
  .footer__nav_change ul {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  /* line 435, ../sass/common.scss */
  .footer__nav-mb {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 680px) {
  /* line 440, ../sass/common.scss */
  .footer__nav-mb1 {
    margin-bottom: 25px;
  }
}

/* line 445, ../sass/common.scss */
.footer__copyright {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
/* line 451, ../sass/common.scss */
.footer__copyright span {
  position: relative;
  padding-left: 75px;
}
/* line 455, ../sass/common.scss */
.footer__copyright i {
  position: absolute;
  top: 0px;
  left: 0;
  background: url('../img/icons-s851643d656.png') 0 -420px no-repeat;
  width: 72px;
  height: 12px;
}

/* line 462, ../sass/common.scss */
.footer__facebook {
  position: absolute;
  top: 30px;
  right: 0;
  border-left: 20px solid #37559a;
}
@media only screen and (max-width: 1000px) {
  /* line 462, ../sass/common.scss */
  .footer__facebook {
    right: 85px;
    border: none;
  }
}
@media only screen and (max-width: 680px) {
  /* line 462, ../sass/common.scss */
  .footer__facebook {
    top: auto;
    left: 50%;
    margin-left: -120px;
    right: auto;
    bottom: 30px;
  }
}

/* line 479, ../sass/common.scss */
.likes {
  position: relative;
}
/* line 481, ../sass/common.scss */
.likes .likes__out {
  display: block;
  position: absolute;
  top: 30px;
  left: -100px;
  width: 75px;
  height: 300px;
}
/* line 488, ../sass/common.scss */
.likes .likes__out .likes__twitter, .likes .likes__out .likes__google, .likes .likes__out .likes__mail, .likes .likes__out .fb-like {
  margin-bottom: 15px;
  text-align: center;
}
/* line 493, ../sass/common.scss */
.likes .likes__out .likes__mail a {
  display: block;
  width: 75px;
  height: 20px;
  background: url('../img/icons-s851643d656.png') 0 -662px no-repeat;
  width: 75px;
  height: 20px;
}
/* line 498, ../sass/common.scss */
.likes .likes__out .likes__mail a:hover {
  background: url('../img/icons-s851643d656.png') 0 -692px no-repeat;
  width: 75px;
  height: 20px;
}
@media only screen and (max-width: 1200px) {
  /* line 481, ../sass/common.scss */
  .likes .likes__out {
    display: none;
  }
}
/* line 507, ../sass/common.scss */
.likes .likes__ins {
  display: none;
  margin: 20px 0;
  overflow: hidden;
}
/* line 511, ../sass/common.scss */
.likes .likes__ins .likes__twitter, .likes .likes__ins .likes__google, .likes .likes__ins .likes__mail, .likes .likes__ins .fb-like {
  float: left;
}
/* line 514, ../sass/common.scss */
.likes .likes__ins .fb-like {
  width: 210px;
}
/* line 518, ../sass/common.scss */
.likes .likes__ins .likes__mail a {
  display: block;
  width: 75px;
  height: 20px;
  background: url('../img/icons-s851643d656.png') 0 -662px no-repeat;
  width: 75px;
  height: 20px;
}
/* line 523, ../sass/common.scss */
.likes .likes__ins .likes__mail a:hover {
  background: url('../img/icons-s851643d656.png') 0 -692px no-repeat;
  width: 75px;
  height: 20px;
}
@media only screen and (max-width: 1200px) {
  /* line 507, ../sass/common.scss */
  .likes .likes__ins {
    display: block;
  }
}

/*banner*/
/* line 534, ../sass/common.scss */
.banner {
  position: absolute;
  top: 0;
  right: -100px;
  width: 80px;
  height: 600px;
  background: #f07fbc;
}
@media only screen and (max-width: 1200px) {
  /* line 534, ../sass/common.scss */
  .banner {
    display: none;
  }
}

/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* default layout */
/* line 4, ../sass/layouts.scss */
.l {
  width: 100%;
  display: inline-block;
}
/* line 8, ../sass/layouts.scss */
.l .l-col1 {
  float: left;
  width: 20%;
}
/* line 13, ../sass/layouts.scss */
.l .l-col2 {
  float: right;
  width: 70%;
}

/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/*main slider*/
/* line 3, ../sass/main.scss */
.main-slider-out {
  position: relative;
  margin: 30px 0 50px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
}
@media only screen and (max-width: 1000px) {
  /* line 3, ../sass/main.scss */
  .main-slider-out {
    margin: 0 10px 50px 10px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 3, ../sass/main.scss */
  .main-slider-out {
    display: none;
  }
}

/* line 14, ../sass/main.scss */
.main-slider {
  width: 100%;
  height: 410px;
  overflow: hidden;
}

/* line 19, ../sass/main.scss */
.main-slider-navi {
  position: absolute;
  left: 8.5%;
  bottom: 18px;
  width: 32%;
  text-align: center;
  z-index: 10;
}
/* line 26, ../sass/main.scss */
.main-slider-navi a {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #f1f1f1;
}
/* line 32, ../sass/main.scss */
.main-slider-navi a.activeSlide {
  background: #37559a;
}

/* line 37, ../sass/main.scss */
.main-slider__item {
  position: relative;
  width: 100%;
  height: 410px;
}
/* line 41, ../sass/main.scss */
.main-slider__item img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -500px;
}

/* line 48, ../sass/main.scss */
.main-slider__info {
  position: absolute;
  top: 0;
  left: 8.5%;
  width: 28%;
  height: 410px;
  padding: 0 2%;
  background: rgba(255, 255, 255, 0.5);
  color: #37559a;
}
/* line 57, ../sass/main.scss */
.main-slider__info blockquote {
  margin: 35px 0 20px 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  font-style: italic;
}
@media only screen and (max-width: 840px) {
  /* line 57, ../sass/main.scss */
  .main-slider__info blockquote {
    font-size: 15px;
  }
}
/* line 67, ../sass/main.scss */
.main-slider__info b {
  display: block;
}
/* line 70, ../sass/main.scss */
.main-slider__info p {
  margin-bottom: 50px;
  font-size: 12px;
}
/* line 74, ../sass/main.scss */
.main-slider__info span {
  border-bottom: 1px dotted #37559a;
}
/* line 77, ../sass/main.scss */
.main-slider__info a {
  position: relative;
  display: block;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  background: #e2007a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2007a), color-stop(100%, #c8016c));
  background-image: -webkit-linear-gradient(#e2007a, #c8016c);
  background-image: -moz-linear-gradient(#e2007a, #c8016c);
  background-image: -o-linear-gradient(#e2007a, #c8016c);
  background-image: linear-gradient(#e2007a, #c8016c);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.36) 0px 1px 1px inset, rgba(0, 0, 0, 0.3) 0 1px 4px;
  -moz-box-shadow: rgba(255, 255, 255, 0.36) 0px 1px 1px inset, rgba(0, 0, 0, 0.3) 0 1px 4px;
  box-shadow: rgba(255, 255, 255, 0.36) 0px 1px 1px inset, rgba(0, 0, 0, 0.3) 0 1px 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  /* line 77, ../sass/main.scss */
  .main-slider__info a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 840px) {
  /* line 77, ../sass/main.scss */
  .main-slider__info a {
    font-size: 12px;
  }
}
/* line 97, ../sass/main.scss */
.main-slider__info a i {
  position: absolute;
  top: 13px;
  left: 10px;
  background: url('../img/icons-s851643d656.png') 0 -638px no-repeat;
  width: 8px;
  height: 14px;
}

/*partners*/
/* line 106, ../sass/main.scss */
.main-partners {
  height: 288px;
  margin-bottom: 40px;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  /* line 106, ../sass/main.scss */
  .main-partners {
    height: auto;
  }
}
@media only screen and (max-width: 680px) {
  /* line 106, ../sass/main.scss */
  .main-partners {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 460px) {
  /* line 106, ../sass/main.scss */
  .main-partners {
    height: auto;
    margin-bottom: 20px;
  }
}

/* line 121, ../sass/main.scss */
.main-partners__logos {
  float: left;
  width: 51%;
}
/* line 124, ../sass/main.scss */
.main-partners__logos li {
  float: left;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 9px;
}
/* line 129, ../sass/main.scss */
.main-partners__logos li img {
  display: block;
}
@media only screen and (max-width: 1000px) {
  /* line 124, ../sass/main.scss */
  .main-partners__logos li {
    width: 31%;
    margin-right: 1.5%;
  }
}
@media only screen and (max-width: 460px) {
  /* line 124, ../sass/main.scss */
  .main-partners__logos li {
    width: 48%;
    margin: 0 2% 2% 0;
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 121, ../sass/main.scss */
  .main-partners__logos {
    width: 104%;
    margin-bottom: 20px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 460px) {
  /* line 121, ../sass/main.scss */
  .main-partners__logos {
    width: 102%;
  }
}

/* line 151, ../sass/main.scss */
.main-partners__item {
  position: relative;
  height: 88px;
  border: 1px solid #c2c2c2;
  overflow: hidden;
}
/* line 156, ../sass/main.scss */
.main-partners__item img {
  position: absolute;
  top: 4px;
  left: 50%;
  width: 130px;
  margin-left: -65px;
}

/* line 164, ../sass/main.scss */
.main-partners__review {
  float: right;
  width: 45%;
  padding: 20px 2%;
  background: #37559a;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  /* line 164, ../sass/main.scss */
  .main-partners__review {
    width: 96%;
  }
}

/* line 174, ../sass/main.scss */
.main-partners__info {
  position: relative;
  height: 168px;
  padding: 0 150px 80px 0;
  line-height: 1.4;
}
/* line 179, ../sass/main.scss */
.main-partners__info img {
  position: absolute;
  right: 0;
  border: 1px solid #fff;
}
@media only screen and (max-width: 460px) {
  /* line 179, ../sass/main.scss */
  .main-partners__info img {
    top: 0;
  }
}
/* line 187, ../sass/main.scss */
.main-partners__info .main-partners__person {
  top: 0;
}
@media only screen and (max-width: 460px) {
  /* line 187, ../sass/main.scss */
  .main-partners__info .main-partners__person {
    left: 0;
  }
}
/* line 193, ../sass/main.scss */
.main-partners__info .main-partners__logo {
  top: 170px;
}
@media only screen and (max-width: 460px) {
  /* line 193, ../sass/main.scss */
  .main-partners__info .main-partners__logo {
    top: 0;
    left: 150px;
  }
}
/* line 200, ../sass/main.scss */
.main-partners__info blockquote {
  font-size: 16px;
  font-style: italic;
}
@media only screen and (max-width: 460px) {
  /* line 174, ../sass/main.scss */
  .main-partners__info {
    padding: 170px 0 80px 0;
    height: auto;
  }
}

/* line 209, ../sass/main.scss */
.main-partners__detail {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 213, ../sass/main.scss */
.main-partners__detail p {
  font-size: 12px;
}
/* line 216, ../sass/main.scss */
.main-partners__detail span {
  border-bottom: 1px dotted #fff;
}

/*applications*/
/* line 221, ../sass/main.scss */
.app {
  margin-bottom: 40px;
  padding-bottom: 2px;
}

/* line 225, ../sass/main.scss */
.app__item {
  position: relative;
  float: left;
  width: 28%;
  padding: 2%;
  margin-left: 2%;
  background: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 235, ../sass/main.scss */
.app__item:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 460px) {
  /* line 225, ../sass/main.scss */
  .app__item {
    width: 96%;
    margin: 0 0 5% 0;
  }
}

/* line 244, ../sass/main.scss */
.app__pic {
  float: left;
  width: 45%;
}
/* line 247, ../sass/main.scss */
.app__pic img {
  width: 100%;
}
@media only screen and (max-width: 840px) {
  /* line 244, ../sass/main.scss */
  .app__pic {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  /* line 244, ../sass/main.scss */
  .app__pic {
    width: 30%;
  }
}

/* line 257, ../sass/main.scss */
.app__info {
  float: right;
  width: 45%;
}
/* line 260, ../sass/main.scss */
.app__info span {
  font-size: 12px;
  color: #666666;
}
/* line 264, ../sass/main.scss */
.app__info a {
  position: relative;
  display: block;
  height: 30px;
  margin-top: 15px;
  padding-left: 7px;
  line-height: 30px;
  background: #37559a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283d70));
  background-image: -webkit-linear-gradient(#37559a, #283d70);
  background-image: -moz-linear-gradient(#37559a, #283d70);
  background-image: -o-linear-gradient(#37559a, #283d70);
  background-image: linear-gradient(#37559a, #283d70);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  /* line 264, ../sass/main.scss */
  .app__info a {
    padding: 0;
    font-size: 11px;
  }
}
/* line 284, ../sass/main.scss */
.app__info i {
  position: absolute;
  top: 10px;
  left: 5px;
  background: url('../img/icons-s851643d656.png') 0 -741px no-repeat;
  width: 5px;
  height: 10px;
}
@media only screen and (max-width: 1000px) {
  /* line 284, ../sass/main.scss */
  .app__info i {
    display: none;
  }
}
@media only screen and (max-width: 840px) {
  /* line 257, ../sass/main.scss */
  .app__info {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  /* line 257, ../sass/main.scss */
  .app__info {
    width: 65%;
  }
}

/*main-bottom*/
/* line 301, ../sass/main.scss */
.main-bottom {
  position: relative;
  margin-bottom: 50px;
  line-height: 1.4;
  overflow: hidden;
}

/* line 307, ../sass/main.scss */
.main-info {
  float: left;
  padding-right: 320px;
  color: #666666;
}
/* line 311, ../sass/main.scss */
.main-info .h2 {
  margin: 10px 0 20px 0;
  font-size: 20px;
  font-weight: normal;
}
/* line 316, ../sass/main.scss */
.main-info b {
  display: block;
  margin: 25px 0 15px 0;
  font-size: 18px;
}
@media only screen and (max-width: 680px) {
  /* line 307, ../sass/main.scss */
  .main-info {
    padding: 0 0 285px 0;
  }
}

/* line 325, ../sass/main.scss */
.advertising {
  position: absolute;
  top: 15px;
  right: 0;
  width: 300px;
  height: 250px;
}
/* line 331, ../sass/main.scss */
.advertising span {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 10px;
  color: #9e9e9e;
}
@media only screen and (max-width: 680px) {
  /* line 325, ../sass/main.scss */
  .advertising {
    top: auto;
    bottom: 0;
    right: 50%;
    margin-right: -150px;
  }
}

/* line 2, ../sass/ie.scss */
.lteie8 body {
  min-width: 1000px;
}
/* line 5, ../sass/ie.scss */
.lteie8 .search__txt {
  line-height: 23px;
}
