/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 2, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 3, ../sass/common.scss */
body {
  min-width: 320px;
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

/*resets*/
/* line 13, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 16, ../sass/common.scss */
a {
  color: #37559a;
  text-decoration: none;
}

/* line 20, ../sass/common.scss */
li {
  list-style: none;
}

/* line 23, ../sass/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 27, ../sass/common.scss */
button {
  cursor: pointer;
}

/* line 30, ../sass/common.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/*wrap*/
/* line 35, ../sass/common.scss */
.container {
  width: 1000px;
  margin: 0 auto;
}

/*header*/
/* line 40, ../sass/common.scss */
.header-out {
  position: relative;
  width: 100%;
  background: #37559a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37559a), color-stop(100%, #283d70));
  background-image: -webkit-linear-gradient(#37559a, #283d70);
  background-image: -moz-linear-gradient(#37559a, #283d70);
  background-image: -o-linear-gradient(#37559a, #283d70);
  background-image: linear-gradient(#37559a, #283d70);
}

/* line 46, ../sass/common.scss */
.header {
  position: relative;
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  /* line 46, ../sass/common.scss */
  .header {
    width: 100%;
  }
}

/* line 56, ../sass/common.scss */
.logo {
  float: left;
  margin-right: 53px;
  background: url('../img/icons-se3df03582c.png') 0 0 no-repeat;
  width: 172px;
  height: 50px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 60, ../sass/common.scss */
.logo a {
  display: block;
  width: 172px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
}
@media only screen and (max-width: 1000px) {
  /* line 56, ../sass/common.scss */
  .logo {
    margin: 0 12px 0 10px;
  }
}

/* line 74, ../sass/common.scss */
.nav {
  float: left;
  margin-top: 7px;
}
@media only screen and (max-width: 680px) {
  /* line 74, ../sass/common.scss */
  .nav {
    display: none;
  }
}
/* line 80, ../sass/common.scss */
.nav li {
  float: left;
  height: 43px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 84, ../sass/common.scss */
.nav li.active {
  margin-left: -1px;
  background: #fff;
}
/* line 87, ../sass/common.scss */
.nav li.active a {
  padding: 0 18px 0 19px;
  color: #37559a;
}
/* line 93, ../sass/common.scss */
.nav li:first-child a {
  border: none;
}
/* line 98, ../sass/common.scss */
.nav a {
  display: block;
  height: 23px;
  margin-top: 6px;
  padding: 0 18px;
  line-height: 23px;
  border-left: 1px dotted #fff;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  /* line 98, ../sass/common.scss */
  .nav a {
    font-size: 12px;
  }
}
/* line 112, ../sass/common.scss */
.nav .nav__search {
  display: none;
}
@media only screen and (max-width: 840px) {
  /* line 112, ../sass/common.scss */
  .nav .nav__search {
    display: block;
  }
}
/* line 117, ../sass/common.scss */
.nav .nav__search a {
  position: relative;
  padding: 0 0 0 38px;
}
/* line 120, ../sass/common.scss */
.nav .nav__search a i {
  position: absolute;
  top: 4px;
  left: 15px;
  background: url('../img/icons-se3df03582c.png') 0 -120px no-repeat;
  width: 15px;
  height: 15px;
}

/* line 129, ../sass/common.scss */
.nav-s {
  display: none;
  float: right;
  margin: 6px 10px 0 0;
}
@media only screen and (max-width: 680px) {
  /* line 129, ../sass/common.scss */
  .nav-s {
    display: block;
  }
}
/* line 136, ../sass/common.scss */
.nav-s li {
  position: relative;
  float: left;
  width: 56px;
  height: 44px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
/* line 143, ../sass/common.scss */
.nav-s li span {
  display: block;
  margin-top: 27px;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
/* line 150, ../sass/common.scss */
.nav-s li i {
  position: absolute;
  top: 5px;
  left: 18px;
}
/* line 155, ../sass/common.scss */
.nav-s li .nav-s__menu-pic {
  background: url('../img/icons-se3df03582c.png') 0 -174px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 158, ../sass/common.scss */
.nav-s li .nav-s__search-pic {
  background: url('../img/icons-se3df03582c.png') 0 -90px no-repeat;
  width: 20px;
  height: 20px;
}
/* line 161, ../sass/common.scss */
.nav-s li.active {
  background: #fff;
}
/* line 163, ../sass/common.scss */
.nav-s li.active span {
  color: #37559a;
}
/* line 166, ../sass/common.scss */
.nav-s li.active .nav-s__menu-pic {
  background: url('../img/icons-se3df03582c.png') 0 -145px no-repeat;
  width: 21px;
  height: 19px;
}
/* line 169, ../sass/common.scss */
.nav-s li.active .nav-s__search-pic {
  background: url('../img/icons-se3df03582c.png') 0 -60px no-repeat;
  width: 20px;
  height: 20px;
}

/* line 175, ../sass/common.scss */
.menu-drop {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
}
/* line 182, ../sass/common.scss */
.menu-drop li {
  width: auto;
  margin: 0 10px;
  border-top: 1px dotted #cfcfcf;
}
/* line 186, ../sass/common.scss */
.menu-drop li:first-child {
  border: none;
}
/* line 190, ../sass/common.scss */
.menu-drop a {
  height: 27px;
  line-height: 27px;
  font-weight: bold;
}

/* line 196, ../sass/common.scss */
.search-drop {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
}
/* line 203, ../sass/common.scss */
.search-drop form {
  position: relative;
  margin: 13px 10px 15px 10px;
  overflow: hidden;
}
/* line 207, ../sass/common.scss */
.search-drop form input, .search-drop form button {
  height: 23px;
}
/* line 210, ../sass/common.scss */
.search-drop form input {
  float: left;
  width: 85%;
  padding-left: 3%;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset;
}
/* line 217, ../sass/common.scss */
.search-drop form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  background: #22B5F4;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}

/* line 230, ../sass/common.scss */
.search {
  float: right;
  margin-top: 13px;
  width: 222px;
}
@media only screen and (max-width: 1000px) {
  /* line 230, ../sass/common.scss */
  .search {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 840px) {
  /* line 230, ../sass/common.scss */
  .search {
    display: none;
  }
}
@media only screen and (max-width: 680px) {
  /* line 230, ../sass/common.scss */
  .search {
    display: none;
  }
}
/* line 243, ../sass/common.scss */
.search input, .search button {
  float: left;
  height: 23px;
}
/* line 247, ../sass/common.scss */
.search input {
  width: 176px;
  padding: 0 10px;
  background: #fff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 253, ../sass/common.scss */
.search button {
  width: 26px;
  background: #22b5f4;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 257, ../sass/common.scss */
.search button i {
  margin: 4px 0 0 5px;
  display: block;
  background: url('../img/icons-se3df03582c.png') 0 -120px no-repeat;
  width: 15px;
  height: 15px;
}

/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* default layout */
/* line 4, ../sass/layouts.scss */
.l {
  width: 100%;
  display: inline-block;
}
/* line 8, ../sass/layouts.scss */
.l .l-col1 {
  float: left;
  width: 20%;
}
/* line 13, ../sass/layouts.scss */
.l .l-col2 {
  float: right;
  width: 70%;
}

/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 2, ../sass/ie.scss */
.lteie8 body {
  min-width: 1000px;
}
/* line 5, ../sass/ie.scss */
.lteie8 .search__txt {
  line-height: 23px;
}
