@import "base";
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }
body {	
	min-width: 320px;
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 14px;
	  	}
	line-height: 1.2;
	color: #666666;
}
/*resets*/
p {
	line-height: 1.5;
}
a img, fieldset {
	border:none;
}
a {
	color: #37559a;
	text-decoration:none;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
	font-family: Arial,sans-serif;
}
button {
	line-height: 1;
	cursor: pointer;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
.h1 {	
	margin-bottom: 15px;
	font-size: 30px;
}
.h1_do {
	position: relative;
	@include respond-to(step1) {
		padding-bottom: 30px;
	}
}
.h2 {
	font-size: 24px;
}
.h3 {
	font-size: 20px;
	font-weight: normal;
}
.h4 {
	font-size: 18px;
}
.h5 {
	font-size: 16px;
}
.clr {
	clear: both;
}
/*wrap*/
.wrap {
	width: 1000px;
	margin: 0 auto;
	@include respond-to(step1) {
		width: 100%;
	}
}
.container {
	position: relative;
	@include respond-to(step1) {
		margin: 0 10px;
	}
}
/*header*/
.header-out {
	position: relative;
	width: 100%;
	margin-bottom: 8px;
	background: #37559a;
	@include background-image(linear-gradient(#37559a, #283d70));	
}
.header {
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	@include transition();
	@include respond-to(step1) {
		width: 100%;
	}
}
/*logo*/
.logo {
	float: left;
	margin-right: 53px;
	@include sized-sprite($icons, logo);
	a {
		display: block;
		width: 172px;
		height: 50px;
		font: 0/0 a;
    text-shadow: none;
    color: transparent;
	}
	@include transition();
	@include respond-to(step1) {
		margin: 0 12px 0 10px;
	}
}
/*navigation*/
.nav {
	float: left;
	margin-top: 7px;
	@include respond-to(step3) {
		display: none;
		position: absolute;
		top: 50px;
		width: 100%;
		margin-top: 0px;
		background: #fff;
		@include box-shadow(rgba(0,0,0,0.3) 0px 2px 4px);
		z-index: 100;
	}
	li {
		float: left;
		height: 43px;	
		@include border-radius(3px 3px 0 0);		
		&.active {
			margin-right: -1px;
			background: #fff;
			a {
				padding: 0 19px 0 18px;
				color: #37559a;
			}			
		}	
		&:first-child {
			a {
				border: none;
			}
		}
		@include respond-to(step3) {
			float: none;
			width: auto;
			height: auto;
			margin: 0 10px; 
			border-top: 1px dotted #cfcfcf;
			&:first-child {
				border: none;
			}
		}
	}
	a {
		display: block;
		height: 23px;
		margin-top: 6px;
		padding: 0 18px;
		line-height: 23px;
		border-left: 1px dotted #fff;
		font-size: 14px;
		color: #fff;
		font-weight: bold;			
		@include respond-to(step1) {
			font-size: 12px;
		}
		@include respond-to(step3) {
			height: 27px;
			margin: 0;
			padding: 0;
			line-height: 27px;
			color: #37559a;
			font-weight: bold;
		}
	}	
	.nav__search {
		display: none;
		@include respond-to(step2) {
			display: block;
		}
		@include respond-to(step3) {
			display: none;
		}
		a {
			position: relative;
			padding: 0 0 0 38px;
			i {
				position: absolute;
				top: 4px;
				left: 15px;
				@include sized-sprite($icons, search);
			}
		}		
	}
	&.show {
		@include respond-to(step2) {
			display: block;
		}
	}
}
/*small navigation*/
.nav-s {
	display: none;
	@include respond-to(step3) {
		display: block;
	}
	float: right;
	margin: 6px 10px 0 0;
	li {
		position: relative;
		float: left;
		width: 56px;
		height: 44px;
		@include border-radius(3px 3px 0 0);	
		cursor: pointer;		
		span {
			display: block;
			margin-top: 27px;
			font-size: 10px;
			text-align: center;
			color: #fff;
		}
		i {
			position: absolute;
			top: 5px;
			left: 18px;
		}
		.nav-s__menu-ico {
				@include sized-sprite($icons, menu);
		}
		.nav-s__search-ico {
			@include sized-sprite($icons, search-b);
		}
		&.active {
			background: #fff;
			span {
				color: #37559a;
			}			
			.nav-s__menu-ico {
				@include sized-sprite($icons, menu1);
			}
			.nav-s__search-ico {
				@include sized-sprite($icons, search-b1);
			}
		}
	}
}
/*nav-extra*/
.nav-more {
	margin-bottom: 30px;
	ul {
		overflow: hidden;
	}
	li {
		position: relative;
		float: left;
		width: 47%;	
		height: 50px;
		padding-right: 3%;	
		vertical-align: middle;
		@include respond-to(step1) {
			width: 33%;
			padding-right: 0px;
		}
		@include respond-to(step2) {
			width: 50%;
		}
	}
	a {
		position: relative;
		display: block;	
		height: 50px;
		line-height: 50px;	
		padding-left: 65px;
		vertical-align: middle;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
	}
	.nav-more__1 {i {@include sized-sprite($icons, nm1);}}
	.nav-more__2 {i {@include sized-sprite($icons, nm2);}}
	.nav-more__3 {
		@extend %nav-more;
		i {@include sized-sprite($icons, nm3);}
	}
	.nav-more__4 {i {@include sized-sprite($icons, nm4);}}
	.nav-more__5 {i {@include sized-sprite($icons, nm5);}}
	.nav-more__6 {i {@include sized-sprite($icons, nm6);}}
	.nav-more__7 {i {@include sized-sprite($icons, nm7);}}
	.nav-more__8 {i {@include sized-sprite($icons, nm8);}}
	.nav-more__9 {i {@include sized-sprite($icons, nm9);}}
	.nav-more__10 {
		@extend %nav-more;
		i {@include sized-sprite($icons, nm10);}
	}
	.nav-more__11 {i {@include sized-sprite($icons, nm11);}}
	.nav-more__12 {
		@extend %nav-more;
		i {@include sized-sprite($icons, nm12);}
	}
	.nav-more__13 {i {@include sized-sprite($icons, nm13);}}
	.nav-more__14 {
		@extend %nav-more;
		i {@include sized-sprite($icons, nm14);}
	}
	.nav-more__15 {i {@include sized-sprite($icons, nm15);}}
	.nav-more__16 {
		@extend %nav-more;
		i {@include sized-sprite($icons, nm16);}
	}
	.nav-more__17 {
		@extend %nav-more;
		i {@include sized-sprite($icons, nm17);}
	}
}
.aside-title {
	height: 24px;
	margin-bottom: 10px;
	line-height: 24px;
	font-size: 16px;
	border-top: 1px dotted #cfcfcf;
	border-bottom: 1px dotted #cfcfcf;
}
/*search*/
.search {
	float: right;
	margin-top: 13px;
	width: 222px;
	@include respond-to(step1) {
		margin-right: 10px;
	}
	@include respond-to(step2) {
		display: none;
		position: absolute;
		top: 7px;
		left: 200px;
		right: 10px;
		width: auto;
		height: 31px;
		margin: 0;
		padding: 12px 60px 0 15px;
		@include border-radius(3px 3px 0 0);
		background: #fff;		
	}
	@include respond-to(step3) {
		display: none;
		top: 50px;
		left: 0;
		right: 0;
		height: 23px;
		padding: 13px 10px 15px 10px;
		@include box-shadow(rgba(0,0,0,0.3) 0px 2px 4px);
		z-index: 100;
	}
	input, button {
		float: left;
		height: 23px;
	}
	input {
		width: 176px;
		padding: 0 10px;
		background: #fff;
		@include border-radius(5px 0 0 5px);
		@include respond-to(step2) {
			width: 88%;
			padding: 0 6% 0 3%;
			@include border-radius(5px 0 0 5px);
			@include box-shadow(rgba(0,0,0,0.5) 0px 0px 5px inset);
		}
		@include respond-to(step3) {
			width: 75%;
			padding: 0 6% 0 3%;			
		}
	}
	button {
		position: relative;
		width: 26px;
		background: #22b5f4;
		@include border-radius(0 5px 5px 0);
		i {
			position: absolute;
			top: 4px;
			left: 6px;
			@include sized-sprite($icons, search);
			@include respond-to(step3) {
				display: none;
			}
		}
		span {
			display: none;
			line-height: 1;
			font-weight: bold;
			color: #fff;
			@include respond-to(step3) {
				display: block;
			}
		}
		@include respond-to(step2) {
			position: absolute;
			top: 12px;
			right: 60px;
		}
		@include respond-to(step3) {
			top: 13px;
			right: 10px;
			width: 20%;			
		}
	}
	.search__close {
		display: none;
		position: absolute;
		top: 15px;
		right: 23px;
		@include sized-sprite($icons, close);
		cursor: pointer;
		@include respond-to(step2) {
			display: block;
		}
		@include respond-to(step3) {
			display: none;
		}
	}
	&.show {
		@include respond-to(step2) {
			display: block;
		}
	}
}
/*footer*/
.footer-out {
	position: relative;
	background: #37559a;
	&:before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background: #37559a;
		@include background-image(linear-gradient(#283d70 0%, #37559a 60%));
	}
}
.footer {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	@include transition();
	@include respond-to(step1) {
		width: 100%;
	}
	@include respond-to(step1) {
		width: 100%;
	}
}
.footer__nav {
	padding: 27px 0;
	border-bottom: 1px dotted #fff;
	overflow: hidden;
	@include transition();
	@include respond-to(step1) {
		padding: 27px 10px;
	}
	ul {
		float: left;
		width: 17%;
		@include respond-to(step1) {
			width: 25%;
		}
		@include respond-to(step3) {
			width: 50%;
		}
		li {
			margin-bottom: 7px;
			color: #fff;
			font-size: 14px;	
			font-weight: bold;	
			white-space: nowrap;	
			@include respond-to(step1) {
				white-space: normal;
			}
		}
		a {
			position: relative;
			padding-left: 10px;
			font-size: 12px;
			font-weight: normal;
			color: #fff;
		}
		i {
			position: absolute;
			top: 3px;
			left: 0;
			@include sized-sprite($icons, arr);
		}
	}
	.footer__social {
		a {
			display: block;
			height: 32px;
			line-height: 32px;
			padding-left: 45px;
		}		
		i {
			top: 0;
			left: 0;
		}
	}
	.footer__social-fb {
		i {
			@include sized-sprite($icons, fb);
		}
	}
	.footer__social-tw {
		i {
			@include sized-sprite($icons, tw);
		}
	}
}
.footer__nav_change {
	width: 100%;
	@include respond-to(step1) {
		position: relative;
		width: 50%;
		padding-right: 50%;
	}
	@include respond-to(step3) {
		width: 100%;
		padding-right: 0;
		padding-bottom: 350px;
	}
	ul {
		@include respond-to(step1) {
			width: 50%;
		}
	}	
}
.footer__nav-mb {
	@include respond-to(step1) {
		margin-bottom: 25px;
	}
}
.footer__nav-mb1 {
	@include respond-to(step3) {
		margin-bottom: 25px;
	}
}
.footer__copyright {
	padding: 17px 0;
	text-align: center;
	font-size: 12px;
	color: #fff;
	span {
		position: relative;
		padding-left: 75px;
	}
	i {
		position: absolute;
		top: 0px;
		left: 0;
		@include sized-sprite($icons, logo-s);
	}
}
.footer__facebook {
	position: absolute;
	top: 30px;
	right: 0;
	border-left: 20px solid #37559a;
	@include respond-to(step1) {
		right: 85px;
		border: none;
	}
	@include respond-to(step3) {
		top: auto;
		left: 50%;
		margin-left: -120px;
		right: auto;
		bottom: 30px;
	}
}
.likes {
	position: relative;
	.likes__out {
		display: block;
		position: absolute;
		top: 0;
		left: -100px;
		width: 75px;
		height: 300px;
		.likes__twitter, .likes__google, .likes__mail, .fb-like {
			margin-bottom: 15px;
			text-align: center;
		}
		.likes__mail {
			a {
				display: block;
				width: 75px;
				height: 20px;
				@include sized-sprite($icons, mail);
				&:hover {
					@include sized-sprite($icons, mail-h);
				}
			}
		}
		@include respond-to(step) {
			display: none;
		}
	}
	.likes__ins {
		display: none;
		margin: 15px 0 12px 0;
		overflow: hidden;
		.likes__twitter, .likes__google, .likes__mail, .fb-like {
			float: left;
			height: 23px;
		}
		.fb-like {
			width: 210px;
		}
		.likes__mail {
			a {
				display: block;
				width: 75px;
				height: 20px;
				@include sized-sprite($icons, mail);
				&:hover {
					@include sized-sprite($icons, mail-h);
				}
			}
		}
		@include respond-to(step) {
			display: block;
		}
	}
}
/*breadcrumps*/
.breadcrumps {
	margin: 0 0 24px 0;
	overflow: hidden;
	li {
		position: relative;
		float: left;
		height: 18px;
		line-height: 18px;
		margin-right: 25px;
		font-size: 12px;
		color: #37559A;
		a {
			border-bottom: 1px dotted #37559A;
		}
		i {
			position: absolute;
			top: 4px;
			right: -17px;
			@include sized-sprite($icons, arr3);
		}
	}
}
/*view-all*/
.view-all {
	position: relative;
	height: 30px;
	margin-bottom: 25px;
	text-align: center;
	overflow: hidden;
	i {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		@include box-shadow(#ececec 0px 1px 1px);
		background: #bfbfbf;
		@include background-image(linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%));
		z-index: 5;
	}
	a {
		position: relative;
		display: inline-block;
		height: 30px;
		padding: 0 30px;
		margin-top: -5px;
		line-height: 30px;
		border: 1px solid #bfbfbf;
		@include border-radius(3px);
		background: #fff;
		@include box-shadow(#bfbfbf 0px 1px 3px);
		z-index: 10;
	}
}
/*banner*/
.banner {
	position: absolute;
	top: 0;
	right: -100px;
	width: 80px;
	height: 600px;
	background: #f07fbc;
	@include respond-to(step) {
		display: none;
	}
}
/*advert*/
.advert {
	position: relative;
	width: 300px;
	height: 250px;
	margin-bottom: 30px;
	span {
		position: absolute;
		top: -15px;
		right: 5px;
		font-size: 10px;
		color: #9e9e9e;
	}	
}
.advert_main {
	position: absolute;
	top: 15px;
	right: 0;
	@include respond-to(step3) {
		top: auto;
		bottom: 0;
		right: 50%;
		margin-right: -150px;
	}
}
.advert_left {
	margin: 30px 0 30px 20px;
	background: #f07fbc;
	@include respond-to(step1) {
		margin: 30px 0;
	}
}
/*form-txt*/
.form-txt {
	margin-bottom: 15px;
	label {
		display: block;
		font-weight: bold;
		padding: 2px 0;
	}
	input, textarea {
		width: 96%;			
		border: 1px solid #cfcfcf;
		@include box-shadow(rgba(0,0,0,0.3) 0px 0px 4px inset);
		@include border-radius(2px);
	}
	input {
		height: 30px;
		padding: 0 2%;
	}
	textarea {
		height: 150px;
		padding: 2%;
	}
}
.form-btn {
	padding-bottom: 2px;
	overflow: hidden;
	button {
		position: relative;
		float: right;
		height: 26px;
		padding: 0 40px 0 45px;
		background: #37559a;
		@include background-image(linear-gradient(#37559a, #283d70));
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px);
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	i {
		position: absolute;
		top: 7px;
		left: 21px;
		@include sized-sprite($icons, arr6);
	}
}
/*video-popup*/
.bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}
.video-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 590px;
	height: 345px;
	margin: -170px 0 0 -295px;
	border: 5px solid #fff;
	@include box-shadow(rgba(0,0,0,0.7) 0px 0px 10px);
	background: #fff;
	z-index: 150;
	iframe {
		width: 590px;
		height: 345px;
	}
}
.video-popup__close {
	position: absolute;
	top: -23px;
	right: -5px;
	width: 28px;
	height: 18px;
	background: #fff;
	@include border-radius(3px 3px 0 0);
	cursor: pointer;
	i {
		position: absolute;
		top: 8px;
		left: 9px;
		@include sized-sprite($icons, close1);
	}
}
/*static*/
.static {
	padding-bottom: 50px;
	overflow: hidden;
	img, p {
		margin-bottom: 20px;
	}
	h1 {
		margin-bottom: 15px;
		font-size: 30px;
	}
	h4 {
		margin-bottom: 10px;
		font-weight: normal;
		font-size: 18px;
		color: $blue;
	}
	ul {
		margin: 10px 0 20px 0;
	}
	li {
		position: relative;
		padding-left: 12px;
		line-height: 1.5;
		&:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			@include sized-sprite($icons, arr4);
		}
	}
	i {
		font-size: 12px;
	}
}