@import "base";
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }
body {	
	min-width: 320px;
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 14px;
	  	}
	line-height: 1.2;
}
/*resets*/
a img, fieldset {
	border:none;
}
a {
	color: #37559a;
	text-decoration:none;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
}
button {
	cursor: pointer;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
.clr {
	clear: both;
}
/*wrap*/
.wrap {
	width: 1000px;
	margin: 0 auto;
	@include respond-to(step1) {
		width: 100%;
	}
}
.container {
	position: relative;
	@include respond-to(step1) {
		margin: 0 10px;
	}
}
/*header*/
.header-out {
	position: relative;
	width: 100%;
	background: #37559a;
	@include background-image(linear-gradient(#37559a, #283d70));	
}
.header {
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	@include transition();
	@include respond-to(step1) {
		width: 100%;
	}
}
/*logo*/
.logo {
	float: left;
	margin-right: 53px;
	@include sized-sprite($icons, logo);
	a {
		display: block;
		width: 172px;
		height: 50px;
		font: 0/0 a;
    text-shadow: none;
    color: transparent;
	}
	@include transition();
	@include respond-to(step1) {
		margin: 0 12px 0 10px;
	}
}
/*navigation*/
.nav {
	float: left;
	margin-top: 7px;
	@include respond-to(step3) {
		display: none;
		position: absolute;
		top: 50px;
		width: 100%;
		margin-top: 0px;
		background: #fff;
		@include box-shadow(rgba(0,0,0,0.3) 0px 2px 4px);
		z-index: 100;
	}
	li {
		float: left;
		height: 43px;	
		@include border-radius(3px 3px 0 0);		
		&.active {
			margin-left: -1px;
			background: #fff;
			a {
				padding: 0 18px 0 19px;
				color: #37559a;
			}			
		}	
		&:first-child {
			a {
				border: none;
			}
		}
		@include respond-to(step3) {
			float: none;
			width: auto;
			height: auto;
			margin: 0 10px; 
			border-top: 1px dotted #cfcfcf;
			&:first-child {
				border: none;
			}
		}
	}
	a {
		display: block;
		height: 23px;
		margin-top: 6px;
		padding: 0 18px;
		line-height: 23px;
		border-left: 1px dotted #fff;
		font-size: 14px;
		color: #fff;
		font-weight: bold;			
		@include respond-to(step1) {
			font-size: 12px;
		}
		@include respond-to(step3) {
			height: 27px;
			margin: 0;
			padding: 0;
			line-height: 27px;
			color: #37559a;
			font-weight: bold;
		}
	}	
	.nav__search {
		display: none;
		@include respond-to(step2) {
			display: block;
		}
		@include respond-to(step3) {
			display: none;
		}
		a {
			position: relative;
			padding: 0 0 0 38px;
			i {
				position: absolute;
				top: 4px;
				left: 15px;
				@include sized-sprite($icons, search);
			}
		}		
	}
	&.show {
		@include respond-to(step2) {
			display: block;
		}
	}
}
/*small navigation*/
.nav-s {
	display: none;
	@include respond-to(step3) {
		display: block;
	}
	float: right;
	margin: 6px 10px 0 0;
	li {
		position: relative;
		float: left;
		width: 56px;
		height: 44px;
		@include border-radius(3px 3px 0 0);	
		cursor: pointer;		
		span {
			display: block;
			margin-top: 27px;
			font-size: 10px;
			text-align: center;
			color: #fff;
		}
		i {
			position: absolute;
			top: 5px;
			left: 18px;
		}
		.nav-s__menu-ico {
				@include sized-sprite($icons, menu);
		}
		.nav-s__search-ico {
			@include sized-sprite($icons, search-b);
		}
		&.active {
			background: #fff;
			span {
				color: #37559a;
			}			
			.nav-s__menu-ico {
				@include sized-sprite($icons, menu1);
			}
			.nav-s__search-ico {
				@include sized-sprite($icons, search-b1);
			}
		}
	}
}
/*search*/
.search {
	float: right;
	margin-top: 13px;
	width: 222px;
	@include respond-to(step1) {
		margin-right: 10px;
	}
	@include respond-to(step2) {
		display: none;
		position: absolute;
		top: 7px;
		left: 200px;
		right: 10px;
		width: auto;
		height: 31px;
		margin: 0;
		padding: 12px 60px 0 15px;
		@include border-radius(3px 3px 0 0);
		background: #fff;		
	}
	@include respond-to(step3) {
		display: none;
		top: 50px;
		left: 0;
		right: 0;
		height: 23px;
		padding: 13px 10px 15px 10px;
		@include box-shadow(rgba(0,0,0,0.3) 0px 2px 4px);
		z-index: 100;
	}
	input, button {
		float: left;
		height: 23px;
	}
	input {
		width: 176px;
		padding: 0 10px;
		background: #fff;
		@include border-radius(5px 0 0 5px);
		@include respond-to(step2) {
			width: 88%;
			padding: 0 6% 0 3%;
			@include border-radius(5px 0 0 5px);
			@include box-shadow(rgba(0,0,0,0.5) 0px 0px 5px inset);
		}
		@include respond-to(step3) {
			width: 75%;
			padding: 0 6% 0 3%;			
		}
	}
	button {
		width: 26px;
		background: #22b5f4;
		@include border-radius(0 5px 5px 0);
		i {
			margin: 4px 0 0 5px;
			display: block;
			@include sized-sprite($icons, search);
			@include respond-to(step3) {
				display: none;
			}
		}
		span {
			display: none;
			line-height: 1;
			font-weight: bold;
			color: #fff;
			@include respond-to(step3) {
				display: block;
			}
		}
		@include respond-to(step2) {
			position: absolute;
			top: 12px;
			right: 60px;
		}
		@include respond-to(step3) {
			top: 13px;
			right: 10px;
			width: 20%;			
		}
	}
	.search__close {
		display: none;
		position: absolute;
		top: 15px;
		right: 23px;
		@include sized-sprite($icons, close);
		cursor: pointer;
		@include respond-to(step2) {
			display: block;
		}
		@include respond-to(step3) {
			display: none;
		}
	}
	&.show {
		@include respond-to(step2) {
			display: block;
		}
	}
}
/*footer*/
.footer-out {
	position: relative;
	background: #37559a;
	&:before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background: #37559a;
		@include background-image(linear-gradient(#283d70 0%, #37559a 60%));
	}
}
.footer {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	@include transition();
	@include respond-to(step1) {
		width: 100%;
	}
	@include respond-to(step1) {
		width: 100%;
	}
}
.footer__nav {
	padding: 27px 0;
	border-bottom: 1px dotted #fff;
	overflow: hidden;
	@include transition();
	@include respond-to(step1) {
		padding: 27px 10px;
	}
	ul {
		float: left;
		width: 17%;
		@include respond-to(step1) {
			width: 25%;
		}
		@include respond-to(step3) {
			width: 50%;
		}
		li {
			margin-bottom: 7px;
			color: #fff;
			font-size: 14px;	
			font-weight: bold;	
			white-space: nowrap;	
			@include respond-to(step1) {
				white-space: normal;
			}
		}
		a {
			position: relative;
			padding-left: 10px;
			font-size: 12px;
			font-weight: normal;
			color: #fff;
		}
		i {
			position: absolute;
			top: 3px;
			left: 0;
			@include sized-sprite($icons, arr);
		}
	}
	.footer__social {
		a {
			display: block;
			height: 32px;
			line-height: 32px;
			padding-left: 45px;
		}		
		i {
			top: 0;
			left: 0;
		}
	}
	.footer__social-fb {
		i {
			@include sized-sprite($icons, fb);
		}
	}
	.footer__social-tw {
		i {
			@include sized-sprite($icons, tw);
		}
	}
}
.footer__nav_change {
	width: 100%;
	@include respond-to(step1) {
		position: relative;
		width: 50%;
		padding-right: 50%;
	}
	@include respond-to(step3) {
		width: 100%;
		padding-right: 0;
		padding-bottom: 350px;
	}
	ul {
		@include respond-to(step1) {
			width: 50%;
		}
	}	
}
.footer__nav-mb {
	@include respond-to(step1) {
		margin-bottom: 25px;
	}
}
.footer__nav-mb1 {
	@include respond-to(step3) {
		margin-bottom: 25px;
	}
}
.footer__copyright {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	span {
		position: relative;
		padding-left: 75px;
	}
	i {
		position: absolute;
		top: 0px;
		left: 0;
		@include sized-sprite($icons, logo-s);
	}
}
.footer__facebook {
	position: absolute;
	top: 30px;
	right: 0;
	border-left: 20px solid #37559a;
	@include respond-to(step1) {
		right: 85px;
		border: none;
	}
	@include respond-to(step3) {
		top: auto;
		left: 50%;
		margin-left: -120px;
		right: auto;
		bottom: 30px;
	}
}
.likes {
	position: relative;
	.likes__out {
		display: block;
		position: absolute;
		top: 30px;
		left: -100px;
		width: 75px;
		height: 300px;
		.likes__twitter, .likes__google, .likes__mail, .fb-like {
			margin-bottom: 15px;
			text-align: center;
		}
		.likes__mail {
			a {
				display: block;
				width: 75px;
				height: 20px;
				@include sized-sprite($icons, mail);
				&:hover {
					@include sized-sprite($icons, mail-h);
				}
			}
		}
		@include respond-to(step) {
			display: none;
		}
	}
	.likes__ins {
		display: none;
		margin: 20px 0;
		overflow: hidden;
		.likes__twitter, .likes__google, .likes__mail, .fb-like {
			float: left;
		}
		.fb-like {
			width: 210px;
		}
		.likes__mail {
			a {
				display: block;
				width: 75px;
				height: 20px;
				@include sized-sprite($icons, mail);
				&:hover {
					@include sized-sprite($icons, mail-h);
				}
			}
		}
		@include respond-to(step) {
			display: block;
		}
	}
}
/*banner*/
.banner {
	position: absolute;
	top: 0;
	right: -100px;
	width: 80px;
	height: 600px;
	background: #f07fbc;
	@include respond-to(step) {
		display: none;
	}
}