.lteie8, .ie8 {
	body {
		min-width: 1000px;
	}
	.search {
		input {
			line-height: 23px;
		}
	}
	.ext-search__fields {
		input {
			line-height: 26px;
		}
	}
	.top10 {
		span {
			zoom: 1;
		}
	}
	.view-all {
		a {
			zoom: 1;
		}
	}	
	.search-filter {
		position: relative;
		zoom: 1;
	}
	.txt-field {
		input {
			line-height: 30px;
		}
	}
}
.lteie8 {
	.aside-info {
		ul {
			margin-bottom: 20px;
		}
	}
}
.ie8 {
	.search {
		button {
			i {
				top: -7px;
			}
		}
	}
}