@import "base";
/*styles for inner pages*/
/*search-filter*/
.search-filter-out {
	@extend %block;
}
.search-filter {
	margin-bottom: 35px;
	padding: 20px;
	color: #666666;
	.h2 {
		position: relative;
		margin-bottom: 15px;
		span {
			position: absolute;
			right: 2px;
			bottom: 1px;
			padding-right: 20px;
			font-size: 12px;
			color: #666666;
			font-weight: normal;
			cursor: pointer;
		}
		i {
			position: absolute;
			top: 1px;
			right: 0;
			@include sized-sprite($icons, del);
		}
	}
	h3 {
		position: relative;
		height: 39px;
		line-height: 39px;
		border-top: 1px dotted #666666;
		cursor: pointer;
		color: #a1a1a1;
		i {
			position: absolute;
			top: 14px;
			right: 2px;
			@include sized-sprite($icons, cl);			
		}
		&.active {
			color: #666666;
			i {
				@include sized-sprite($icons, op);
			}
		}
	}
	ul {
		padding-bottom: 20px;
		li {
			position: relative;
			height: 20px;
			padding-left: 20px;
			line-height: 20px;
			margin-bottom: 4px;
		}
		input {
			position: absolute;
			top: 3px;
			left: 0;
		}
	}
}
/*search-form*/
.ext-search {
	padding-top: 10px;
	margin-bottom: 50px;
	@extend %block;
}
.ext-search__fields-wrap {
	margin: 0 -8px;
	padding: 9px 18px 8px 18px;
	background: #22b5f4;
	@include box-shadow(#7b7b7b 0px 2px 3px);
}
.ext-search__fields {
	position: relative;
	height: 26px;	
	input, button {
		position: absolute;
		top: 0;
		height: 26px;
	}
	input {
		left: 0;
		width: 76%;		
		padding: 0 3% 0 1%;
		@include border-radius(3px 0 0 3px);
		@include box-shadow(#666666 0px 1px 3px inset);
	}
	button {
		right: 0;
		width: 22%;
		background: #37559a;
		@include border-radius(0 3px 3px 0);
		@include background-image(linear-gradient(#37559a, #283e71));
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		i {
			position: absolute;
			top: 5px;
			left: 8.5%;
			@include sized-sprite($icons, search);
			@include respond-to(step3) {
				display: none;
			}
		}
	}
}
.ext-search__lists {
	margin: 20px 10px 0 10px;
	overflow: hidden;
	ul {
		float: left;
		width: 35%;
		padding-bottom: 22px;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	li {
		height: 22px;
		line-height: 22px;
		font-size: 14px;
		color: #666666;
	}
	a {
		font-size: 12px;
	}
	.ext-search__list {
		margin-top: 22px;
		@include respond-to(step3) {
			margin-top: -22px;
		}
	}
	.ext-search__list-1 {
		width: 30%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
}
/*top10*/
.top10 {	
	.h2 {
		margin: 45px 0 15px 0;
		font-size: 30px;
		color: #666666;
	}	
}
.top10__lists {
	padding-bottom: 30px;
	border-bottom: 1px dotted #cfcfcf;
	overflow: hidden;
	ul {
		float: left;
		width: 35%;
		@include respond-to(step3) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.top10__list {
		width: 30%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	li {
		height: 20px;
		margin-bottom: 10px;
		line-height: 20px;
		font-size: 12px;
		color: #666666;
	}
	b {
		font-size: 16px;
	}
	span {
		display: inline-block;
		width: 20px;
		margin-right: 5px;
		text-align: center
	}
	.top10__three {
		font-size: 14px;
		span {
			background: #37559a;
			font-weight: bold;
			color: #fff;
		}
	}	
}
.top10__info {
	margin-bottom: 30px;
	color: #666666;
	.h3 {
		margin: 30px 0 20px 0;
		font-size: 20px;	
		font-weight: normal;	
	}
	p {
		line-height: 1.5;
	}
}
/*aside-info*/
.aside-info {
	overflow: hidden;
	margin-right: -25px;
	@include respond-to(step1) {
		margin-right: 0px;
	}
	li {
		float: left;
		width: 130px;
		min-height: 135px;
		margin: 0 20px 20px 0;
		padding: 10px;
		@extend %block;
	}
	a {
		position: relative;
		font-size: 13px;
	}
	img {
		margin-bottom: 5px;
	}
}
