@import "base";
/*styles for inner pages*/
/*search-filter*/
.search-filter-out {
	@extend %block;
}
.search-filter {	
	margin-bottom: 35px;
	padding: 20px;	
	h3 {		
		position: relative;
		height: 39px;
		line-height: 39px;
		border-top: 1px dotted #666666;
		cursor: pointer;
		color: #a1a1a1;
		font-size: 14px;
		i {
			position: absolute;
			top: 14px;
			right: 2px;
			@include sized-sprite($icons, cl);			
		}
		&.active {
			color: #666666;
			i {
				@include sized-sprite($icons, op);
			}
		}
	}
	ul {
		padding-bottom: 20px;
		li {
			position: relative;
			height: 20px;
			padding-left: 20px;
			line-height: 20px;
			margin-bottom: 4px;
		}
		input {
			position: absolute;
			top: 3px;
			left: 0;
		}
	}
}
.search-filter__title {
	position: relative;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #37559a;
	span {
		position: absolute;
		right: 2px;
		bottom: 2px;
		padding-right: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #666666;
		cursor: pointer;
	}
	i {
		position: absolute;
		top: 1px;
		right: 0;
		@include sized-sprite($icons, del);
	}
}
/*search-form*/
.ext-search {
	position: relative;
	padding-top: 10px;
	margin-bottom: 50px;
	@extend %block;
	z-index: 5;
}
.ext-search__fields-wrap {
	margin: 0 -8px;
	padding: 9px 18px 8px 18px;
	background: #22b5f4;
	@include box-shadow(#7b7b7b 0px 2px 3px);
}
.ext-search__fields {
	position: relative;
	height: 26px;	
	input, button {
		position: absolute;
		top: 0;
		height: 26px;
	}
	input {
		left: 0;
		width: 76%;		
		padding: 0 3% 0 1%;
		@include border-radius(3px 0 0 3px);
		@include box-shadow(#666666 0px 1px 3px inset);
	}
	button {
		right: 0;
		width: 22%;
		background: #37559a;
		@include border-radius(0 3px 3px 0);
		@include background-image(linear-gradient(#37559a, #283e71));
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		i {
			position: absolute;
			top: 5px;
			left: 8.5%;
			@include sized-sprite($icons, search);
			@include respond-to(step3) {
				display: none;
			}
		}
	}
}
.ext-search__lists {
	margin: 20px 10px 0 10px;
	overflow: hidden;
	ul {
		float: left;
		width: 35%;
		padding-bottom: 22px;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	li {
		padding: 3px 0;
		font-size: 14px;
	}
	a {
		font-size: 12px;
	}
	.ext-search__list {
		margin-top: 22px;
		@include respond-to(step3) {
			margin-top: -22px;
		}
	}
	.ext-search__list-1 {
		width: 30%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	.ext-search__list-2 {
		margin-top: 22px;
	}
	.ext-search__list-3 {
		width: 36%;
		margin-right: 2%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	.ext-search__list-4 {
		width: 24%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
}
.ext-search__filter {
	padding: 10px;
	overflow: hidden;
	li {
		position: relative;
		float: left;
		padding-right: 15px;
		margin-right: 20px;
		cursor: pointer;
	}
	i {
		position: absolute;
		top: 3px;
		right: 0;
		@include sized-sprite($icons, del);
	}
}
.ext-search__lists_s {
	ul {
		width: 21%;
		margin-left: 5%;
		&:first-child {
			margin-left: 0;
		}
		@include respond-to(step3) {
			width: 50%;
			margin-left: 0;
		}
		@include respond-to(step4) {
			width: 100%;
		}
	}
}
/*saerch-results*/
.search-results {
	margin: -50px 0 10px 0;
	li {
		padding: 10px;
		border-top: 1px dotted #666666;
		overflow: hidden;
		&:first-child {
			border: none;
		}
	}
	.view-all {
		margin-bottom: 30px;
	}
}
.search-results__sponsored {
	position: relative;
	background: #d3f0fd;
	em {
		position: absolute;
		top: 10px;
		right: 10px;
		font-style: normal;
		font-size: 10px;
	}
}
.search-results__pic {
	float: left;
	margin-right: 20px;
	@include border-radius(2px);
	border: 1px solid #c8c8c8;
	overflow: hidden;
	img {
		display: block;
	}
	@include respond-to(step4) {
		display: none;
	}
}
.search-results__detail {
	overflow: hidden;
	font-size: 12px;
	color: #acacac;
	.h3 {
		font-weight: bold;
		margin-bottom: 6px;		
	}
	span {		
		display: block;
		margin-top: 11px;
		padding-top: 4px;
		border-top: 1px dotted #cfcfcf;		
	}
}
/*top10*/
.top10 {	
	.h1 {
		margin: 45px 0 15px 0;
	}	
}
.top10__lists {
	padding-bottom: 30px;	
	overflow: hidden;
	ul {
		float: left;
		width: 35%;
		@include respond-to(step3) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.top10__list {
		width: 30%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	li {
		height: 20px;
		margin-bottom: 10px;
		line-height: 20px;
		font-size: 12px;
	}
	b {
		font-size: 16px;
	}
	span {
		display: inline-block;
		width: 20px;
		margin-right: 5px;
		text-align: center
	}
	.top10__three {
		font-size: 14px;
		span {
			background: #37559a;
			font-weight: bold;
			color: #fff;
		}
	}	
}
.top10__info {
	margin-bottom: 30px;
	.h3 {
		margin: 30px 0 20px 0;
	}
}
/*aside-info*/
.aside-info {
	width: 320px;
	overflow: hidden;
	ul {
		margin-right: -25px;
		overflow: hidden;
	}
	li {
		float: left;
		width: 130px;
		min-height: 135px;
		margin: 0 20px 20px 0;
		padding: 10px;
		@extend %block;
	}
	a {
		position: relative;
		font-size: 13px;
	}
	img {
		margin-bottom: 5px;
	}
	@include respond-to(step1) {
		width: 100%;
	}
}
/*aside-articles*/
.aside-articles {
	ul {
		margin-bottom: 25px;
	}
	li {
		margin-bottom: 15px;
		vertical-align: top;
	}	
	a {
		display: inline-block;
		width: 64%;
		vertical-align: middle;
		font-size: 16px;
	}
	.view-all {
		a {
			width: auto;
		}
	}
}
.aside-articles__pic {
	display: inline-block;
	width: 95px;
	margin-right: 15px;
	text-align: center;
	a {
		width: auto;
		font-size: 0;		
	}	
	img {
		display: inline-block;
	}
	@include respond-to(step4) {
		display: none;
	}
}
/*job-profile*/
.job-profile {	
	position: relative;
	padding: 20px;
	margin-bottom: 18px;
	overflow: hidden;
	@extend %block;
}
.job-profile__pic {
	float: left;	
	@include transition();
	img {
		display: block;
		margin-right: 20px;
		height: auto;
		@include respond-to(step4) {
			width: 100%;
			margin-right: 0px;
		}
	}
	@include respond-to(step2) {
		float: none;
		margin-bottom: 20px;
	}
}
.job-profile__info {
	position: relative;
	padding-bottom: 60px;
	overflow: hidden;
	.h2 {
		margin-bottom: 15px;
		color: #37559A;
		@include respond-to(step1) {
			font-size: 22px;
		}
	}
	li {
		position: relative;
		padding-left: 10px;
		margin-bottom: 5px;
		i {
			position: absolute;
			top: 3px;
			left: 0;
			@include sized-sprite($icons, arr4);
		}
	}
	@include respond-to(step3) {
		padding-bottom: 140px;
	}
}
.job-profile__btn {
	position: absolute;
	bottom: 20px;
	height: 36px;
	line-height: 36px;
	padding: 0 15px 0 30px;
	@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px);
	@include border-radius(2px);
	font-size: 18px;
	font-weight: bold;
	color: #fff;	
	i {
		position: absolute;
		top: 12px;
		left: 13px;
		@include sized-sprite($icons, arr5);
	}
	@include respond-to(step1) {
		font-size: 16px;
	}
	@include respond-to(step3) {
		left: 20px;
	}
}
.job-profile__btn_gray {
	right: 250px;
	border: 1px solid #8c8c8c;
	background: #8c8c8c;
	@include background-image(linear-gradient(#8c8c8c, #666666));
	@include respond-to(step1) {
		right: 230px;
	}
	@include respond-to(step3) {
		right: auto;
		bottom: 80px;
	}
}
.job-profile__btn_blue {
	right: 20px;
	border: 1px solid #22b5f4;
	background: #22b5f4;
	@include background-image(linear-gradient(#22b5f4, #0691bf));
	@include respond-to(step3) {
		right: auto;
		bottom: 20px;
	}
}
/*gallery*/
.gallery {	
	overflow: hidden;
	ul {
		margin: 0 -20px 20px 0;
		font-size: 0;
		overflow: hidden;
		text-align: center;
		@include respond-to(step1) {
			margin: 0;
		}
		@include respond-to(step4) {
			text-align: center;
		}
	}
	li {
		position: relative;
		display: inline-block;
		width: 150px;
		margin-right: 20px;
		vertical-align: top;
		cursor: pointer;
		font-size: 0;
		i {
			position: absolute;
			left: 10px;
			bottom: 10px;
		}
		@include respond-to(step1) {
			margin: 0 20px 20px 0;
		}
		@include respond-to(step4) {
			float: none;
			display: inline-block;
			margin: 0 10px 20px 10px;
		}
	}	
	.gallery__def {
		i {
			top: 0;
			left: 0;
			width: 148px;
			height: 98px;
			border: 1px solid #f2f2f2;
		}
	}
}
.gallery__video {
	i {
		@include sized-sprite($icons, video);
	}	
}
.gallery__photo {
	i {
		@include sized-sprite($icons, photo);
	}
}
/*job-detail*/
.job-detail {
	.h3 {
		padding: 20px 0;
		border-top: 1px dotted #cfcfcf;
		&:first-child {
			padding: 0 0 20px 0;
			border: none;
		}
	}
	p {
		margin-bottom: 20px;
	}
}
/*job-training*/
.job-trainings {
	margin-bottom: 20px;
	padding: 0 1px 2px 1px;
	overflow: hidden;
}
.job-trainings__left, .job-trainings__right {
	width: 49%;
	margin-bottom: 20px;
	@include respond-to(step3) {
		width: 100%;
	}
}
.job-trainings__left {
	float: left;
}
.job-trainings__right {
	float: right;
}
.job-trainings__blue, .job-trainings__red {
	position: relative;
	min-height: 90px;
	padding: 20px 20px 20px 65px;
	@extend %block;
	em {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.h4 {
		margin-bottom: 12px;
	}
	a {
		position: relative;
		display: block;	
		margin-top: 7px;	
		padding-left: 15px;
	}
	i {
		position: absolute;
		top: 2px;
		left: 0;
		@include sized-sprite($icons, arr3);
	}
	@include respond-to(step3) {
		min-height: auto;
	}
}
.job-trainings__blue {
	em {
		@include sized-sprite($icons, yes);
	}
	.h4 {
		color: #22b5f4;
	}
}
.job-trainings__red {
	em {
		@include sized-sprite($icons, no);
	}
	.h4 {
		color: #e2007a;
	}
}
/*top-employer*/
.top-employer {
	width: 320px;
	overflow: hidden;
	@include respond-to(step1) {
		width: 100%;
	}
	ul {
		margin: 0 -30px 30px 0;
		overflow: hidden;
		@include respond-to(step1) {
			margin: 0 0 40px 0;
		}
		@include respond-to(step4) {
			text-align: center;
		}		
	}
	li {
		float: left;
		width: 150px;
		margin: 0 16px 8px 0;
		border: 1px dotted #cfcfcf;
		@include respond-to(step4) {
			float: none;
			display: inline-block;
			margin: 0 40px 8px 40px;
		}
	}
	.aside-title {
		margin-bottom: 15px;
	}
}
.top-employer__solid {
	li {
		border: 1px solid #cfcfcf;
	}
}
.top-employer__city {
	ul {
		margin-bottom: 15px;
	}
	li {
		border: none;
	}
	img {
		display: block;
		border: 1px solid #cfcfcf;
	}
	span {
		margin-left: 4px;
		font-size: 12px;
		color: #666666;
		font-weight: bold;
	}
}
/*do*/
.do {
	position: absolute;
	top: 17px;
	right: 0;
	font-size: 12px;
	li {
		float: left;
	}
	span, a {
		float: left;
	}
	a {
		position: relative;
		padding-left: 20px;
		color: #666666;
		font-weight: normal;
	}
	i {
		position: absolute;
		top: -2px;
	}
	@include respond-to(step1) {
		bottom: 0;
		top: auto;
		left: 0;
	}
}
.do__print {
	margin-right: 5px;
	i {
		left: 0;
		@include sized-sprite($icons, print);
	}
}
.do__notice {
	i {
		left: 8px;
		@include sized-sprite($icons, notice);
	}
}
/*job-info*/
.job-info {
	padding-bottom: 30px;
}
.job-info__detail {
	float: left;
	width: 74.5%;
	line-height: 28px;
	border-top: 1px dotted #cfcfcf;
	border-bottom: 1px dotted #cfcfcf;
	font-size: 12px;
	i {
		margin: 0 8px;		
		font-style: normal;
	}
	b {
		margin-right: 4px;
	}
	span {
		position: relative;
		color: $blue;
	}
}
.job-info__apply {
	float: right;
	width: 23.5%;
	text-align: center;
	a {
		display: block;
		height: 30px;
		line-height: 30px;
		padding-left: 5%;
		background: #22b5f4;
		@include background-image(linear-gradient(#22b5f4, #0691bf));
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px, rgba(255,255,255,0.4) 0 0 1px);
		font-size: 18px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		@include respond-to(step1) {		
			display: inline-block;
			width: 235px;
			margin-top: 15px;
		}
	}
	span {
		position: relative;
	}
	i {
		position: absolute;
		top: 5px;
		left: -15px;
		@include sized-sprite($icons, arr6);
	}	
}
.job-info__detail, .job-info__apply {
	@include respond-to(step1) {
		width: 100%;
	}
}
/*company-profile*/
.company {
	margin-bottom: 20px;
}
.company-profile {
	position: relative;
	padding: 20px;
	@extend %block;
	img {
		float: left;
		margin-right: 20px;
		@include respond-to(step4) {
			float: none;
			margin-bottom: 20px;
		}
	}
}
.company-profile__top {
	position: absolute;
	top: -15px;
	right: 5px;
	@include sized-sprite($icons, top);
}
.company-profile__detail {
	overflow: hidden;
	.h2 {
		margin-bottom: 25px;
		color: $blue;
	}
	ul {
		margin: 0 -15% 20px 0;
		overflow: hidden;
	}
	li {
		float: left;
		width: 45%;
		margin: 0 0 6px 0;
		font-size: 12px;
		b {
			display: inline-block;
			width: 50%;
		}
		@include respond-to(step3) {
			width: 100%;
		}
	}
}
.company-adress {
	padding: 20px;
	@extend %block-blue;
	strong {
		display: block;
		position: relative;
		padding-left: 28px;
		font-size: 24px;
		i {
			position: absolute;
			top: 6px;
			left: 0;
			@include sized-sprite($icons, phone);
		}
	}
	ul {
		margin: 20px 0 -4px 0;
	}
	li {
		margin-bottom: 6px;
	}
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	.company-adress__social {
		margin-bottom: 20px;
		overflow: hidden;
		a {
			float: left;
			margin-right: 7px;
		}
	}
	.company-adress__fb {@include sized-sprite($icons, fb-w);}
	.company-adress__tw {@include sized-sprite($icons, tw-w);}
	.company-adress__an {@include sized-sprite($icons, an-w);}
	.company-adress__gg {@include sized-sprite($icons, gg-w);}
	@include respond-to(step1) {
		margin-top: 20px;
	}
}
.company-adress_aside {
	margin-bottom: 30px;
}
/*job-desc*/
.job-desc {
	.h3 {
		padding: 20px 0;
		border-top: 1px dotted #cfcfcf;
		&:first-child {
			padding-top: 0;
			border: none;
		}
	}
	p {
		margin-bottom: 20px;
	}
}
/*army*/
.army {
	position: relative;
	margin-bottom: 30px;
	padding: 20px 20px 38px 20px;
	@extend %block;
	img {
		display: block;
		border: 1px solid #d0d0d0;
	}
}
.army__link {
	position: absolute;
	bottom: 12px;
	right: 20px;
	font-size: 14px;
	font-weight: bold;
	i {
		position: absolute;
		top: 3px;
		left: -11px;
		@include sized-sprite($icons, arr3);
	}
}
/*another-articles*/
.another-articles {
	.aside-title {
		margin-bottom: 0;
	}
	li {
		padding: 15px 0;
		border-top: 1px dotted #cfcfcf;
		&:first-child {
			border: none;
		}
		a {
			font-size: 18px;
		}
	}	
}
/*map-big*/
.map-big {
	.h3 {
		padding: 15px 0;
	}	
}
.map-big__container {
	margin-bottom: 30px;
	img {
		width: 100%;
	}
}
.map-big__info {
	position: relative;
	padding: 22px 0 22px 65px;
	margin-bottom: 30px;
	@extend %block;
	font-size: 18px;
	i {
		position: absolute;
		top: 11px;
		left: 8px;
		@include sized-sprite($icons, ask);
	}
}
/*job-pic*/
.job-pic {
	margin: -20px 0 10px 0;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}
/*job-training*/
.job-training_article {
	padding-top: 16px;
	ul {
		padding-bottom: 19px;
	}
}
/*our-video*/
.our-video {
	margin-bottom: 30px;
	img {
		display: block;
		border: 1px solid #c2c2c2;
	}
}
/*page404*/
.page404 {
	margin-bottom: 50px;
	@include respond-to(step1) {
		margin-bottom: 20px;
	}
}
.page404__title {
	margin-bottom: -15px;
	font-size: 72px;
	color: #cfcfcf;
	font-weight: bold;
}
.page404__cities {
	margin-top: 35px;
	overflow: hidden;
	ul {
		float: left;
		width: 25%;
		@include respond-to(step3) {
			width: 50%;
			margin-bottom: 20px;
		}
	}
}
.page404-map {
	margin-bottom: 20px;	
}
/*shop-city*/
.shop-city, .shop-group {
	.h2 {
		margin-bottom: 20px;
		color: $blue;
	}
	p {
		margin-bottom: 20px;
	}
}
.shop-city-map, .shop-group-pic {
	margin-bottom: 20px;
	@include respond-to(step3) {
		img {
			width: 100%;
			height: auto;
		}
	}	
}
/*logos*/
.logos {
	width: 660px;
	margin-top: 35px;
	ul {
		margin-right: -30px;
		overflow: hidden;
	}
	li {
		float: left;
		margin: 0 20px 10px 0;
		border: 1px solid #c2c2c2;
	}
	img {
		display: block;
	}
}
/*city-logos*/
.city-logos {
	overflow: hidden;
	ul {
		margin: 0 -30px 15px 0;	
		overflow: hidden;	
		@include respond-to(step3) {
			margin-right: 0;
		}
	}
	li {
		float: left;
		width: 150px;
		margin-right: 20px;
		@include respond-to(step3) {
			margin-right: 0;
		}
	}
	img {
		float: left;
		margin-right: 15px;
	}
	span {
		display: inline-block;
		height: 55px;
		line-height: 55px;
		font-size: 12px;
		font-weight: bold;
		color: #666666;
	}
}
/*training*/
.training__list {
	padding: 35px 0;
	overflow: hidden;
	@include respond-to(step3) {
		padding-bottom: 0px;
	}
	ul {
		float: left;
		width: 30%;
		margin-right: 3%;
		@include respond-to(step3) {
			width: 100%;
			margin: 0 0 20px 0;
		}
	}
	li {		
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
	}
	a {
		position: relative;
		display: block;
		padding-left: 15px;
		font-size: 14px;
		font-weight: normal;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			@include sized-sprite($icons, arr7);
		}		
	}
}
/*shop*/
.shop {
	margin-bottom: 20px;
	.h4 {
		margin-bottom: 10px;
		font-weight: normal;
		a {
			color: #666666;
		}
	}
	p {
		margin-bottom: 25px;
	}
	ul {
		margin-top: 10px;
	}
}
.shop-theme {
	// height: 18px;
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 12px;
	span {
		margin-right: 2px;
		padding: 0 3px;
		background: $blue;
		color: #fff;
		text-transform: capitalize;
	}
}
.shop-pic {
	margin-bottom: 20px;
	img {
		width: 100%;
		height: auto;
	}
}
.shop-article {
	li {
		padding: 19px 0;
		border-top: 1px dotted #cfcfcf;
		overflow: hidden;
	}
	img {
		float: left;
		margin-right: 20px;
		@include respond-to(step2) {
			display: none;
		}
	}
	.h4 {
		margin-bottom: 5px;
		font-weight: normal;
		a {
			color: #666666;
		}
	}
}
.shop-article__industry {
	.shop-theme {
		span {
			background: #22b5f4;
		}
	}
}
/*banner-wrap*/
.banner-wrap {
	position: relative;
	@include respond-to(step1) {
		padding-right: 170px;
	}
	@include respond-to(step2) {
		padding: 0;
	}
	.banner {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 160px;
		height: 600px;
		background: #f07fbc;
		@include respond-to(step1) {
			display: block;
		}
		@include respond-to(step2) {
			display: none;
		}
	}
}
