@import "base";
/* default layout */
.col-1 {
	float: left;
	width: 66%;	
	@include respond-to(step1) {
		width: 100%;
	}
}
.col-1_1 {
	float: right;
}
.col-2 {
	float: right;
	width: 32%;
	@include respond-to(step1) {
		width: 100%;
	}
}	
.col-2_1 {
	float: left;
}
