@import "base";
/*static pages*/
.tabs {
	overflow: hidden;
}
.tabs__nav {
	padding: 2px 0 0 1px;
	@include box-shadow(rgba(0,0,0,0.3) 0px -3px 2px -2px inset);
	overflow: hidden;
	li {
		float: left;		
	}
	a {
		display: block;
		height: 38px;
		padding: 0 12px;
		margin-right: 7px;
		line-height: 38px;
		background: #f1f1f1;
		@include box-shadow(rgba(0,0,0,0.3) 0px -3px 2px -2px inset);
		@include border-radius(3px 3px 0 0);
		color: #37559a;
		font-weight: bold;
		@include respond-to(step4) {
			padding: 0 8px;
			font-size: 12px;
		}
	}
	.active {
		@include box-shadow(rgba(0,0,0,0.3) 0px -1px 2px);
		background: #fff;
		color: #22b5f4;
	}
}
.tabs__content {
	margin-bottom: 60px;
	overflow: hidden;
	.h3 {
		margin: 20px 0 10px 0;
	}
}
.tabs__content_no-mb {
	margin-bottom: 0px;
}
/**/
.tabs__item {
	display: none;
}
.about, .partners, .contacts, .imprint {
	overflow: hidden;
}
/*contacts*/
.contacts__block {
	position: relative;
	padding: 20px 20px 100px 20px;
	margin: 30px 0 20px 0;
	@extend %block-blue;
	b, strong {
		display: block;
	}
	a {
		color: #fff;
	}
	strong {
		margin: 15px 0;
		font-size: 28px;
	}
}
.contacts__email {
	font-size: 20px;
}
.contacts__personal {
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-bottom: 1px dotted #fff;
	font-size: 12px;
}
/*about*/
.about {
	p {
		margin-bottom: 20px;
	}
	.col-4 {
		width: 51%;
		@include respond-to(step1) {
			width: 54%;
		}
		@include respond-to(step2) {
			width: 99%;
		}
	}
}
.about__team {
	overflow: hidden;
	li {
		float: left;
		width: 150px;
		margin: 0 20px 35px 0;
	}
	img {
		margin-bottom: 15px;
	}
	a {
		font-weight: bold;
	}
	span {
		display: block;
		padding: 5px 0;
	}
}
.about__social {
	overflow: hidden;
	a {
		float: left;
		margin-right: 7px;
	}
}
.about__social-fb {@include sized-sprite($icons, fb-ico);}
.about__social-an {@include sized-sprite($icons, an-ico);}
/*imprint*/
.imprint {
	width: 660px;
	padding-top: 20px;
	p {
		margin-bottom: 20px;
	}
	@include respond-to(step1) {
		width: 100%;
	}
}
/*partners*/
.partners {
	margin: 35px -30px 0 0;
	overflow: hidden;
	li {
		float: left;
		width: 150px;
		margin-right: 20px;
	}
	img {
		display: block;
		border: 1px solid #c2c2c2;
	}
	span {
		display: block;
		margin: 10px 0 15px 0;
		font-size: 12px;
	}
}
/*study-offers*/
.study-offers, .apprenticeships {		
	ul {
		margin: 30px 0 20px 0;
	}
	li {
		padding: 9px 0 9px 10px;
		border-top: 1px dotted #cfcfcf;
		overflow: hidden;
		&:first-child {			
			border: none;
		}
	}
	img {
		float: left;
		margin-right: 10px;
		border: 1px solid #cfcfcf;
	}
	.h4 {
		margin-bottom: 5px;
	}
	span {
		font-size: 12px;
		a {
			border-bottom: 1px dotted #666666;
			color: #666;
		}
	}
}
/*apprenticeships*/
.apprenticeships {
	.top {
		position: relative;
		background: #f2fafe;
		i {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 10px;
			font-style: normal;
			color: #c2c2c2;
		}
	}
}
/*company-any-info*/
.company-any-info {
	width: 66%;
	ul {
		margin: 10px 0 20px 0;
	}
	li {
		padding-top: 19px;
		margin-top: 19px;
		border-top: 1px dotted #cfcfcf;
		overflow: hidden;
		&:first-child {
			margin-top: 0px;
			border: none;
		}
	}
	.h4 {		
		margin-bottom: 10px;
		font-weight: normal;
		a {
			color: #666666;
		}
	}
}
.company-any-info__pic {
	position: relative;
	float: left;
	margin-right: 20px;
	img, span {
		display: block;
	}
	span {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-right: 10px;
		text-align: right;
		height: 17px;
		line-height: 17px;
		background: rgba(102,102,102,0.7);
		font-size: 9px;
		color: #fff;
	}	
}
/*company-places*/
.company-places {
	margin-top: 20px;
}
/*company-places__list*/
.company-places__list {
	margin-bottom: 30px;
	.h5 {
		height: 27px;
		line-height: 27px;
		color: #666666;
	}
	li {
		border-bottom: 1px dotted #cfcfcf;
	}
	.active {
		background: #e8f7fe;
		.company-places__prof {
			color: #22b5f4;
		}
	}
	td {
		padding: 2px 0;
		vertical-align: top;
	}
	a {
		position: relative;
		text-decoration: underline;
		color: #666666;
		i {
			position: absolute;
			top: 2px;
			right: -17px;
			@include sized-sprite($icons, link);
		}
	}
}
.company-places__prof {
	display: block;
	padding: 3px 0 3px 6px;
	line-height: 1.5;
	color: $blue;
	cursor: pointer;
}
.company-places__details {
	display: none;
	width: 280px;	
	padding: 5px 15px 10px 25px;
	font-size: 12px;	
	@include respond-to(step1) {
		width: auto;
	}
}
.company-places__detail {
	width: 70px;
	font-weight: bold;
}
/*company-places__filter*/
.company-places__filter {
	position: relative;
	@extend %block;
	z-index: 5;
	form {
		position: relative;
		padding: 10px 150px 10px 10px;	
		@include respond-to(step3) {
			padding: 10px;
		}	
	}	
}
.company-places__filter-open {
	position: absolute;
	top: 0;
	right: -140px;
	padding-right: 17px;
	font-size: 12px;
	cursor: pointer;
	i {
		position: absolute;
		top: 1px;
		right: 0;
		@include sized-sprite($icons, cl);
	}
	@include respond-to(step3) {
		top: 36px;
		left: 0;
		right: auto;
	}
}
.company-places__filter-closed {
	i {
		@include sized-sprite($icons, op);
	}
}
.company-places__zoom {
	position: relative;
	height: 26px;
	input, button {
		position: absolute;
		top: 0;
		height: 26px;
	}
	input {
		left: 0;
		width: 68%;
		padding: 0 3% 0 1%;
		@include box-shadow(#666666 0px 1px 3px inset);
		@include border-radius(3px 0 0 3px);
	}
	button {
		right: 0;
		width: 30%;
		background: #37559a;
		@include background-image(linear-gradient(#37559a, #283e71));
		@include border-radius(0 3px 3px 0);
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	@include respond-to(step3) {
		padding-bottom: 25px;
	}
}
.commpany-places__filter-list {
	display: none;
	position: relative;
	padding: 0 0 0 160px;
	margin: 10px 0 -10px 0;
	font-size: 12px;
	b {
		position: absolute;
		top: 0;
		left: 0;
	}
	ul {
		overflow: hidden;		
	}
	li {
		position: relative;
		float: left;
		width: 150px;
		padding-left: 20px;
		margin-bottom: 10px;
	}
	input {
		position: absolute;
		top: 0;
		left: 0;
	}
	zoom: 1;
}
.company-places__map {
	position: relative;
	span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 46px;
		line-height: 46px;
		padding-left: 10px;
		background: rgba(102,102,102,0.7);
		font-size: 12px;
		color: #fff;
	}
	img {
		display: block;
		width: 100%;
	}
}
.company-places__makers {
	padding: 5px 10px 10px 10px;
	margin-bottom: 5px;
	@extend %block;
	overflow: hidden;
	li {
		position: relative;
		float: left;
		height: 21px;
		margin-top: 10px;
		line-height: 21px;
		padding: 0 30px 0 20px;
		font-size: 10px;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.company-places__marker-1 {
	i {
		@include sized-sprite($icons, marker1);
	}
}
.company-places__marker-2 {
	i {
		@include sized-sprite($icons, marker2);
	}
}
.company-places__marker-3 {
	i {
		@include sized-sprite($icons, marker3);
	}
}